@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@media only screen and (max-width: 1550px) {
  #show-full-images .owl-carousel .owl-item {
    padding: 0 15px; }

  #chungchi .owl-next {
    right: 0; }
  #chungchi .owl-prev {
    left: 0; }

  .ss-slider .slider-home .item-slider-home .content-silder {
    top: 60%; } }
@media (min-width: 1281px) and (max-width: 1340px) {
  .ss-slider .slider-home .item-slider-home .content-silder {
    max-width: 50%; }

  header .menu nav ul li a {
    font-size: 17px; }

  header .menu nav ul li::before {
    top: -3px; } }
@media screen and (max-width: 1280px) {
  #show-full-images-certificate .owl-dots {
    display: none !important;
    margin-top: 0; }
  #show-full-images-certificate .owl-nav {
    display: block !important; }
  #show-full-images-certificate .modal-header .close {
    right: 20px;
    top: 20px !important; }

  .binhluan-moi .thongtin-binhluan {
    margin-top: 20px; }

  .binhluan-moi .box-right {
    width: 85%; }

  .binhluan-moi .avatar-cmt {
    width: 15%;
    margin-right: 15px; }

  .binhluan-deault .avatar-cmt {
    width: 15%;
    margin-right: 15px; }

  .binhluan-deault .box-right {
    width: 85%; }

  .editor-body h2 {
    font-size: 26px;
    font-weight: 700; }
    .editor-body h2 a, .editor-body h2 b, .editor-body h2 strong, .editor-body h2 p, .editor-body h2 label, .editor-body h2 span {
      font-size: 26px;
      font-weight: 700; }
  .editor-body h3 {
    font-size: 22px;
    font-weight: 700; }
    .editor-body h3 a, .editor-body h3 b, .editor-body h3 strong, .editor-body h3 p, .editor-body h3 label, .editor-body h3 span {
      font-size: 22px;
      font-weight: 700; }
  .editor-body h4 {
    font-size: 20px;
    font-weight: 700; }
    .editor-body h4 a, .editor-body h4 b, .editor-body h4 strong, .editor-body h4 p, .editor-body h4 label, .editor-body h4 span {
      font-size: 20px;
      font-weight: 700; }
  .editor-body h5 {
    font-size: 18px;
    font-weight: 700; }
    .editor-body h5 a, .editor-body h5 b, .editor-body h5 strong, .editor-body h5 p, .editor-body h5 label, .editor-body h5 span {
      font-size: 18px;
      font-weight: 700; }
  .editor-body h6 {
    font-size: 18px;
    font-weight: 700; }
    .editor-body h6 a, .editor-body h6 b, .editor-body h6 strong, .editor-body h6 p, .editor-body h6 label, .editor-body h6 span {
      font-size: 18px;
      font-weight: 700; }
  .editor-body p, .editor-body strong, .editor-body b, .editor-body i {
    font-size: 16px; }
  .editor-body span {
    font-size: 14px; }
  .editor-body label {
    font-size: 14px; }
  .editor-body img {
    max-width: 100% !important;
    margin: 20px auto; }

  .khampha-danhmuc .item-news .info-news .title-cate-item {
    font-weight: 700; }

  .list-news-home .news-left {
    min-height: 143px;
    padding-right: 240px;
    padding-left: 0; }
    .list-news-home .news-left .thumnails-avatar {
      left: inherit; }

  .list-news-home .item-news .info-news .desc-news {
    -webkit-line-clamp: 3; }

  .list-customer .owl-theme .owl-nav.disabled + .owl-dots {
    padding-bottom: 24px; }

  .servicess .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 24px; }

  .list-customer .owl-theme .owl-dots .owl-dot span {
    background: white; }

  .detail-cate-news .lagre-news {
    padding-left: 0;
    display: inline-block;
    min-height: inherit;
    padding-right: 0;
    width: 100%; }
    .detail-cate-news .lagre-news .thumnails-avatar {
      position: initial;
      width: 100%; }
    .detail-cate-news .lagre-news .info-news {
      padding-top: 20px; }
    .detail-cate-news .lagre-news .title-news {
      margin-top: 8px; }

  .box-danhmuc-sp .tab-custom .nav-tabs {
    border: 0;
    display: flex;
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    justify-content: flex-start; }

  .sanpham-goiy .item-news {
    min-height: 100%; }
    .sanpham-goiy .item-news .thumnails-avatar {
      width: 100%;
      position: initial; }
    .sanpham-goiy .item-news .info-news {
      padding-top: 20px; }
      .sanpham-goiy .item-news .info-news .title-news {
        min-height: 50px; }
      .sanpham-goiy .item-news .info-news .desc-news {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden; }

  .tt-khoahoc .item-news {
    padding-left: 0;
    min-height: 100%; }
    .tt-khoahoc .item-news .thumnails-avatar {
      display: block;
      position: initial;
      left: 0;
      top: 0;
      width: 100%; }
    .tt-khoahoc .item-news .info-news {
      padding-top: 15px; }
    .tt-khoahoc .item-news .title-news {
      min-height: 50px; }

  .danhmuc-dichvu .item-news {
    padding-left: 0;
    min-height: 100%; }
    .danhmuc-dichvu .item-news .thumnails-avatar {
      position: initial;
      width: 100%; }
    .danhmuc-dichvu .item-news .info-news {
      padding-top: 20px; }
      .danhmuc-dichvu .item-news .info-news .desc-news {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; }

  .baiviet-lienquan .item-news {
    padding-left: 0;
    min-height: 100%; }
    .baiviet-lienquan .item-news .thumnails-avatar {
      position: initial;
      width: 100%; }

  .khampha-danhmuc .item-news .thumnails-avatar {
    position: initial;
    width: 100%; }
  .khampha-danhmuc .item-news .info-news {
    padding: 15px; }

  .list-tags .lagre-news {
    margin-bottom: 30px; }
    .list-tags .lagre-news .menu-cate {
      margin-bottom: 0; }
      .list-tags .lagre-news .menu-cate ul {
        margin-bottom: 0; }
    .list-tags .lagre-news .desc-news {
      margin-bottom: 8px; }

  .baiviet-chuyengia .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .baiviet-chuyengia .item-news {
    padding-left: 265px;
    min-height: 134px; }
  .baiviet-chuyengia .thumnails-avatar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 240px; }
  .baiviet-chuyengia .title-news {
    min-height: inherit; }
  .baiviet-chuyengia .info-news {
    padding-top: 0; }

  .banner-chuyengia .container {
    max-width: 100%; }

  .banner-chuyengia .content h2 {
    font-size: 28px;
    margin-bottom: 16px; }

  .chuyengia .row {
    margin-right: -15px;
    margin-left: -15px; }
  .chuyengia .lagre-news {
    padding-left: 220px;
    min-height: 219px; }
    .chuyengia .lagre-news .thumnails-avatar {
      width: 200px; }

  .title-ss p {
    max-width: 100%; }

  .slider-dichvukhac .owl-next, .chungchi-quocte .owl-next {
    position: absolute;
    right: 0; }

  .slider-dichvukhac .owl-prev, .chungchi-quocte .owl-prev {
    position: absolute;
    left: 0; }

  .dichvukhac {
    margin-top: 40px; }

  .chitiet-dichvu .col-md-3, .chitiet-dichvu .col-md-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .danhmuc-sanpham .col-md-3, .danhmuc-sanpham .col-md-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  footer .box-left {
    margin-bottom: 30px; }
  footer .adress-content {
    display: grid; }
  footer .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .list-news-home .news-left .thumnails-avatar {
    width: 220px;
    right: 0; }

  .date-time-news span {
    font-size: 14px; }

  .item-news .info-news .title-cate-item {
    font-size: 14px; }

  .list-news-home .news-right {
    min-height: inherit; }

  .box-items:hover .detail-info {
    display: none; }

  .btn-intro a {
    padding: 14px 20px; }

  .banner-chuyengia {
    z-index: 2; }

  .menu-mobile .ti-menu::before {
    content: "\e5d2";
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    color: #fff;
    font-style: normal; }
  .menu-mobile .ti-close::before {
    content: "\e5cd";
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    color: #757575;
    font-style: normal; }

  header .search-head {
    top: 0;
    z-index: 999; }

  .ss-slider .slider-header {
    display: inline-block; }
    .ss-slider .slider-header .col-md-5, .ss-slider .slider-header .col-md-7 {
      max-width: 100%; }

  header .menu-mobile {
    top: 10px; }

  header .btn-search-mb {
    width: 45px;
    height: 45px; }

  header .logo img {
    height: 60px; }

  .container {
    max-width: 1200px;
    margin: 0 auto; }

  header .menu nav ul li:hover ul li a {
    color: #464646;
    padding: 0 0 0 24px; }

  header {
    padding: 10px; }
    header .btn-search-mb {
      margin-right: 20px; }
    header .top-head {
      padding: 0 24px 0 0; }
      header .top-head .language-box {
        margin-left: 0; }
      header .top-head .phone-box {
        display: none; }
    header .content-head-right {
      margin-right: 60px;
      margin-bottom: 3px; }
      header .content-head-right .btn-action {
        margin-right: 20px; }
        header .content-head-right .btn-action a {
          padding: 5px 10px;
          height: 40px;
          font-size: 13px; }
    header .menu-mobile {
      position: absolute;
      top: 27px;
      right: 25px;
      display: block;
      z-index: 2; }
      header .menu-mobile i {
        font-size: 24px;
        color: #707070; }
      header .menu-mobile .ti-menu {
        display: block; }
      header .menu-mobile .close-menu-6 {
        display: none; }
    header .menu {
      display: none; }
    header.show-menu .menu {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: white;
      border-top: 0;
      padding: 60px 0 30px 0 !important;
      scroll-behavior: smooth;
      transition: all 0.2s ease-in-out; }
      header.show-menu .menu nav ul {
        display: inline-block !important;
        width: 100%; }
        header.show-menu .menu nav ul li {
          width: 100%;
          padding: 24px 0 0 0;
          left: 0; }
          header.show-menu .menu nav ul li a {
            width: 100%;
            display: inline-block;
            font-size: 18px !important;
            color: #464646;
            padding-left: 24px; }
          header.show-menu .menu nav ul li ul {
            transition: unset; }
    header.show-menu .menu-mobile .ti-menu {
      display: none; }
    header.show-menu .menu-mobile .close-menu {
      position: fixed;
      top: 30px;
      right: 25px;
      display: block;
      z-index: 2; }
    header.show-menu nav {
      display: inline-block !important;
      width: 100%; }
      header.show-menu nav ul li::before {
        font-size: 24px;
        right: 24px;
        top: 10px;
        color: #464646; }
      header.show-menu nav ul li:hover ul {
        position: relative;
        top: 0 !important;
        left: 0;
        width: 100% !important;
        box-shadow: none;
        border-radius: 0;
        background: #FFFAF0;
        transition: unset;
        border-top: 2px solid #D0A543;
        padding-top: 0;
        padding-bottom: 24px; }

  .modal-dialog {
    display: flex;
    align-items: center;
    padding: 0 15px; }

  .list-serviess .owl-next {
    right: 0; }

  .list-serviess .owl-prev {
    left: 0; }

  .ss-slider .slider-home .item-slider-home .content-silder {
    top: 60%;
    max-width: 60%; }
    .ss-slider .slider-home .item-slider-home .content-silder p {
      font-size: 32px; }

  .menu-mobile .ti-close::before {
    font-size: 40px; }

  header .menu-mobile {
    top: 10px; }

  .menu-mobile .ti-menu::before {
    font-size: 40px; }

  .why-choose-us .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  #chungchi .owl-nav {
    display: none; }
  #chungchi .owl-dots {
    display: block; }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #D0A543; }

  .item-product .btn-common-line {
    padding: 14px; }

  .item-product .info-product ul {
    min-height: inherit; }

  .item-news {
    padding-left: 265px;
    min-height: 134px; }
    .item-news .thumnails-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 240px; }
    .item-news .title-news {
      min-height: inherit; }
      .item-news .title-news a {
        line-height: 24px; }
    .item-news .info-news {
      padding-top: 0; }
      .item-news .info-news .desc-news {
        display: none; }

  .list-news-fullrow .item-news {
    margin-bottom: 30px; }
  .list-news-fullrow .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .kienthuc-chuyennganh .lagre-news {
    max-width: 100%; }
  .kienthuc-chuyennganh .item-news {
    margin-bottom: 30px; }
  .kienthuc-chuyennganh .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media screen and (max-width: 1200px) {
  .reply-binhluan .binhluan-moi .thongtin-binhluan {
    display: inline-block;
    width: 100%; }
    .reply-binhluan .binhluan-moi .thongtin-binhluan .form-group {
      width: 100%;
      margin-bottom: 16px; }
    .reply-binhluan .binhluan-moi .thongtin-binhluan .btn-common-fill {
      margin-top: 16px; } }
@media screen and (max-width: 950px) {
  #show-full-images-certificate .owl-dots {
    display: none !important;
    margin-top: 0; }
  #show-full-images-certificate .owl-nav {
    display: block !important; }
  #show-full-images-certificate .modal-header .close {
    right: 30px;
    top: 30px !important; }

  .nd-danhmuc.box-scroll {
    margin-top: 26px; }

  #show-full-images .row {
    display: flex; }
    #show-full-images .row .col-md-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      #show-full-images .row .col-md-6 .thumnails-avatar {
        margin-bottom: 24px; }

  .binhluan-moi .thongtin-binhluan .form-group {
    margin-bottom: 0;
    width: 28%; }

  .editor-body h2 {
    font-size: 26px;
    font-weight: 700; }
    .editor-body h2 a, .editor-body h2 b, .editor-body h2 strong, .editor-body h2 p, .editor-body h2 label, .editor-body h2 span {
      font-size: 26px;
      font-weight: 700; }
  .editor-body h3 {
    font-size: 22px;
    font-weight: 700; }
    .editor-body h3 a, .editor-body h3 b, .editor-body h3 strong, .editor-body h3 p, .editor-body h3 label, .editor-body h3 span {
      font-size: 22px;
      font-weight: 700; }
  .editor-body h4 {
    font-size: 20px;
    font-weight: 700; }
    .editor-body h4 a, .editor-body h4 b, .editor-body h4 strong, .editor-body h4 p, .editor-body h4 label, .editor-body h4 span {
      font-size: 20px;
      font-weight: 700; }
  .editor-body h5 {
    font-size: 18px;
    font-weight: 700; }
    .editor-body h5 a, .editor-body h5 b, .editor-body h5 strong, .editor-body h5 p, .editor-body h5 label, .editor-body h5 span {
      font-size: 18px;
      font-weight: 700; }
  .editor-body h6 {
    font-size: 18px;
    font-weight: 700; }
    .editor-body h6 a, .editor-body h6 b, .editor-body h6 strong, .editor-body h6 p, .editor-body h6 label, .editor-body h6 span {
      font-size: 18px;
      font-weight: 700; }
  .editor-body p, .editor-body strong, .editor-body b, .editor-body i {
    font-size: 16px; }
  .editor-body span {
    font-size: 14px; }
  .editor-body label {
    font-size: 14px; }
  .editor-body img {
    max-width: 100% !important;
    margin: 20px auto; }

  .list-news-home .news-left {
    min-height: 163px;
    padding-right: 270px;
    padding-left: 0; }

  .list-customer .box-items .content .detail-info p {
    font-size: 14px;
    margin: 5px 0 0 0; }

  .list-customer .box-items .content {
    padding: 20px;
    text-align: center; }

  .list-customer .box-items .content h5 a {
    color: #D0A543;
    font-size: 16px; }

  .list-news-home .news-right {
    min-height: inherit; }

  .tt-khoahoc .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .tt-khoahoc .item-news {
    padding-left: 265px;
    min-height: 134px; }
    .tt-khoahoc .item-news .thumnails-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 240px; }
      .tt-khoahoc .item-news .thumnails-avatar img {
        border-radius: 8px !important; }
    .tt-khoahoc .item-news .info-news {
      box-shadow: none;
      padding: 0; }
      .tt-khoahoc .item-news .info-news .title-news {
        -webkit-line-clamp: inherit;
        min-height: 100%; }

  .danhmuc-dichvu .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .danhmuc-dichvu .item-news {
    padding-left: 265px;
    min-height: 134px;
    margin-bottom: 30px; }
    .danhmuc-dichvu .item-news .thumnails-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 240px; }
    .danhmuc-dichvu .item-news .info-news {
      padding-top: 0; }
      .danhmuc-dichvu .item-news .info-news .title-news {
        min-height: 100%; }
      .danhmuc-dichvu .item-news .info-news .desc-news {
        -webkit-line-clamp: 2; }

  .list-tags .lagre-news .title-news {
    -webkit-line-clamp: inherit; }
  .list-tags .lagre-news .desc-news {
    display: none; }

  .baiviet-lienquan .info-news .desc-news {
    display: none; }
  .baiviet-lienquan .item-news {
    padding-left: 265px;
    min-height: 134px;
    margin-bottom: 30px; }
    .baiviet-lienquan .item-news .thumnails-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 240px; }

  .noidungbaiviet .col-md-3, .noidungbaiviet .col-md-7, .noidungbaiviet .col-md-2 {
    -ms-flex: 0 0 25%;
    flex: 0 0 100%;
    max-width: 100%; }

  .shares span {
    font-size: 16px; }
    .shares span img {
      width: 30px !important;
      height: 30px; }

  .baiviet-chuyengia .info-news .desc-news {
    display: none; }

  .banner-chuyengia {
    min-height: 100%; }

  .chitiet-chuyengia {
    max-width: 100%; }

  .chuyengia .col-md-6 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .lagre-news {
    padding-left: 370px;
    min-height: 198px;
    width: 100%; }
    .lagre-news .thumnails-avatar {
      width: 350px; }
    .lagre-news .title-news {
      margin-top: 0; }

  .list-products .col-md-3 {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .item-product .info-product ul {
    min-height: inherit; }

  .item-product .btn-common-line {
    margin: inherit; }

  #lieuphap .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .ss-slider .slider-home .item-slider-home .content-silder {
    top: 50%;
    max-width: 60%; }

  .intro-bhmed .btn-intro {
    margin: 32px 0; }
  .intro-bhmed .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .list-news-home .btn-action {
    margin: 24px; }
  .list-news-home .col-md-7, .list-news-home .col-md-5 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .list-news-home .news-left .thumnails-avatar {
    width: 250px;
    right: 0; }

  .item-flex {
    padding-left: 60px;
    margin-bottom: 35px; }

  .item-flex .number .bg-number {
    width: 45px;
    height: 45px;
    font-size: 24px; }

  .item-flex p {
    font-size: 16px; }

  .ss-slider .slider-home .item-slider-home .content-silder {
    max-width: 60%; }

  .box-items:hover .detail-info {
    display: none; }

  .info-product h3 a {
    font-size: 18px; }

  .thongtin-sp .tab-thongtin .content-page-list {
    margin: 0;
    padding: 15px; }

  .thongtin-sp .nav-tabs {
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 95%;
    margin: 0 auto;
    flex-wrap: unset;
    justify-content: flex-start; }

  .chitiet-dichvu .col-md-9, .chitiet-dichvu .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .owl-nav .owl-prev {
    left: 0; }

  .owl-nav .owl-next {
    right: 0; }

  .baiviet-lienquan .item-news .info-news .title-cate-item {
    font-size: 14px; }

  .baiviet-lienquan .item-news .title-news a {
    font-size: 18px; }

  .noidungbaiviet .title-headpage {
    max-width: 100%; }

  .noidungbaiviet .title-headpage {
    font-size: 38px; }

  h1 {
    font-family: "Philosopher", sans-serif;
    font-size: 32px; }

  .list-tags .lagre-news {
    padding-left: 265px;
    min-height: 155px; }

  .list-tags .lagre-news .thumnails-avatar {
    width: 240px; }

  .menu-cate {
    margin-bottom: 5px; }

  .menu-cate ul {
    margin-bottom: 5px; }

  .lagre-news .desc-news {
    margin-bottom: 5px; }

  footer .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  footer .box-left {
    margin-bottom: 30px; }

  .modal-show-full-img .modal-dialog {
    max-width: 900px; }

  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none; }

  .owl-theme .owl-nav.disabled + .owl-dots {
    display: block; }

  .btn-common-fill, .btn-common-line, input[type=button], input[type=submit], .btn-common-fill2 {
    padding: 14px;
    font-size: 14px; }

  .ss-slider .slider-home .item-slider-home .content-silder p {
    font-size: 32px; }

  .chuyengia .row {
    margin-right: -15px;
    margin-left: -15px; }

  .chuyengia .row .col-md-6 {
    padding-right: 15px;
    padding-left: 15px; }

  .modal-dialog {
    display: flex;
    align-items: center;
    padding: 0 15px; }

  #show-full-images .owl-nav {
    display: block; }
    #show-full-images .owl-nav .owl-next {
      right: 0; }
    #show-full-images .owl-nav .owl-prev {
      left: 0; }
  #show-full-images .owl-dots {
    display: none; }

  .banner-mb {
    display: block; }

  .banner-pc {
    display: none; }

  header .btn-header {
    display: none; }

  .action-btn {
    display: block; } }
@media screen and (max-width: 767px) {
  #show-full-images-certificate .owl-dots {
    display: block !important;
    margin-top: 10px; }
  #show-full-images-certificate .owl-nav {
    display: none !important; }
  #show-full-images-certificate .modal-body {
    padding: 25px 40px 10px 40px; }
  #show-full-images-certificate .modal-dialog {
    margin-top: 40px; }
  #show-full-images-certificate .modal-header .close {
    right: 20px;
    top: 20px !important;
    width: 30px;
    height: 30px; }
    #show-full-images-certificate .modal-header .close::before {
      position: absolute;
      left: 0;
      right: 0;
      font-size: 22px;
      top: 5px; }

  .chitiet-baiviet .title-headpage {
    margin-top: 24px;
    margin-bottom: 16px; }

  .noidungbaiviet .date-share-news {
    margin-bottom: 0; }

  .binhluan-moi .thongtin-binhluan .form-group {
    margin-bottom: 0;
    width: 100%; }

  .binhluan-moi .btn-common-fill {
    margin-top: 16px; }

  .binhluan-moi .thongtin-binhluan {
    margin-top: 0;
    display: inline-block;
    width: 100%; }

  #show-full-images .owl-carousel .owl-item {
    padding: 0; }

  header .menu-mobile {
    top: 5px; }

  header .btn-search-mb {
    width: 45px;
    height: 45px; }

  header .logo img {
    height: 50px; }

  .editor-body h2 {
    font-size: 26px;
    font-weight: 700; }
    .editor-body h2 a, .editor-body h2 b, .editor-body h2 strong, .editor-body h2 p, .editor-body h2 label, .editor-body h2 span {
      font-size: 26px;
      font-weight: 700; }
  .editor-body h3 {
    font-size: 22px;
    font-weight: 700; }
    .editor-body h3 a, .editor-body h3 b, .editor-body h3 strong, .editor-body h3 p, .editor-body h3 label, .editor-body h3 span {
      font-size: 22px;
      font-weight: 700; }
  .editor-body h4 {
    font-size: 20px;
    font-weight: 700; }
    .editor-body h4 a, .editor-body h4 b, .editor-body h4 strong, .editor-body h4 p, .editor-body h4 label, .editor-body h4 span {
      font-size: 20px;
      font-weight: 700; }
  .editor-body h5 {
    font-size: 18px;
    font-weight: 700; }
    .editor-body h5 a, .editor-body h5 b, .editor-body h5 strong, .editor-body h5 p, .editor-body h5 label, .editor-body h5 span {
      font-size: 18px;
      font-weight: 700; }
  .editor-body h6 {
    font-size: 18px;
    font-weight: 700; }
    .editor-body h6 a, .editor-body h6 b, .editor-body h6 strong, .editor-body h6 p, .editor-body h6 label, .editor-body h6 span {
      font-size: 18px;
      font-weight: 700; }
  .editor-body p, .editor-body strong, .editor-body b, .editor-body i {
    font-size: 16px; }
  .editor-body span {
    font-size: 14px; }
  .editor-body label {
    font-size: 14px; }
  .editor-body img {
    max-width: 100% !important;
    margin: 20px auto; }

  .khampha-danhmuc .list-serviess .owl-dots {
    margin-top: 0; }

  .danhmuc-sanpham .item-product .info-product h3 {
    line-height: 20px; }
    .danhmuc-sanpham .item-product .info-product h3 a {
      font-size: 14px; }

  .tt-khoahoc .item-news {
    padding-left: 155px;
    min-height: 80px;
    margin-bottom: 16px; }
    .tt-khoahoc .item-news .thumnails-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 140px; }

  .page-customer .box-items {
    padding-left: 159px;
    min-height: 140px;
    margin-bottom: 16px; }
    .page-customer .box-items .thumnails-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 140px; }
    .page-customer .box-items .content {
      padding: 0;
      background: transparent;
      text-align: left;
      position: initial;
      padding-top: 45px; }
      .page-customer .box-items .content .detail-info p {
        color: #464646; }

  .btn-common-fill, .btn-common-line {
    height: 48px; }

  .baiviet-lienquan .item-news .thumnails-avatar {
    width: 140px; }

  .list-news-fullrow .item-news .title-news a {
    line-height: 10px; }

  .info-product h3 a {
    font-size: 16px; }

  .chitiet-mota .gia-sp p {
    font-size: 28px; }

  .chitietgia .star img {
    width: 20px;
    height: 20px; }

  .chitiet-mota p {
    font-size: 24px; }

  .danhmuc-dichvu .item-news {
    padding-left: 155px;
    min-height: 80px;
    margin-bottom: 16px; }
    .danhmuc-dichvu .item-news .thumnails-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 140px; }
    .danhmuc-dichvu .item-news .info-news {
      padding-top: 0; }
      .danhmuc-dichvu .item-news .info-news .title-news {
        min-height: 100%; }
      .danhmuc-dichvu .item-news .info-news .desc-news {
        -webkit-line-clamp: 2; }

  .khampha-danhmuc {
    margin-top: 20px; }

  .kienthuc-chuyennganh {
    margin-top: 30px; }

  .noidungbaiviet .pagging-page {
    margin-top: 0 !important; }

  .baiviet-lienquan {
    margin-top: 40px; }
    .baiviet-lienquan .item-news {
      padding-left: 155px;
      min-height: 80px;
      margin-bottom: 16px; }
      .baiviet-lienquan .item-news .title-news a {
        font-size: 14px;
        line-height: 10px; }
      .baiviet-lienquan .item-news .info-news {
        padding-top: 0; }
    .baiviet-lienquan .date-time-news span {
      font-size: 11px !important; }

  .binhluan-deault .box-right {
    width: 100%; }

  .binhluan-moi {
    display: inline-block; }
    .binhluan-moi .box-right, .binhluan-moi .avatar-cmt {
      width: 100%; }
    .binhluan-moi .avatar-cmt {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 15px; }
      .binhluan-moi .avatar-cmt img {
        margin-right: 15px; }
      .binhluan-moi .avatar-cmt p {
        padding-right: 0;
        margin: 0; }
    .binhluan-moi .thongtin-binhluan {
      margin-top: 0; }

  .binhluan-deault .avatar-cmt {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 15px; }
    .binhluan-deault .avatar-cmt img {
      margin-right: 15px; }
    .binhluan-deault .avatar-cmt p {
      margin: 0; }

  .binhluan-deault .social .reply::before {
    font-size: 18px; }

  .binhluan-deault .social .like::before {
    font-size: 18px; }

  .binhluan-deault .social .like span {
    font-size: 14px; }

  .binhluan-deault .social .reply span {
    font-size: 14px; }

  .binhluan-deault .social .reply p {
    font-size: 14px; }

  .binhluan-deault .social .like p {
    font-size: 14px; }

  .binhluan {
    padding: 16px; }

  .binhluan-deault .box-right p {
    font-size: 14px; }

  .binhluan-moi .form-group .form-control, .binhluan-moi .form-group .custome-select select, .binhluan-moi .form-group textarea {
    font-size: 14px; }

  .binhluan-deault {
    display: inline-block; }

  .binhluan-deault .box-right .time {
    font-size: 14px;
    margin-bottom: 10px; }

  .chitiet-baiviet h2 {
    font-size: 20px;
    line-height: 32px; }

  .noidungbaiviet .date-news {
    font-size: 16px !important; }

  .baiviet-chuyengia .item-news {
    padding-left: 155px;
    min-height: 80px;
    margin-bottom: 16px; }
  .baiviet-chuyengia .thumnails-avatar {
    width: 240px; }

  .chitiet-chuyengia .btn-bottomm {
    display: inline-block; }
    .chitiet-chuyengia .btn-bottomm .btn-common-fill {
      margin-bottom: 24px; }

  .banner-chuyengia .content {
    margin: 24px 0; }

  .banner-chuyengia .content h2 {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 5px; }
  .banner-chuyengia .content p {
    margin-bottom: 20px;
    font-size: 14px; }

  .chuyengia .row .col-md-6 {
    margin-bottom: 24px; }
  .chuyengia .lagre-news {
    padding-left: 150px;
    min-height: 143px;
    padding-right: 15px; }
    .chuyengia .lagre-news .title-news a {
      font-size: 18px; }
    .chuyengia .lagre-news .thumnails-avatar {
      width: 130px;
      position: absolute; }
    .chuyengia .lagre-news .info-news {
      padding-top: 15px; }
    .chuyengia .lagre-news .btn-common-line {
      display: none; }

  .owl-nav .owl-next, .owl-nav .owl-prev {
    width: 40px;
    height: 40px; }

  .list-tags .lagre-news {
    padding-left: 155px;
    min-height: 80px;
    margin-bottom: 16px; }
    .list-tags .lagre-news .thumnails-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 140px; }
    .list-tags .lagre-news .menu-cate ul {
      margin-bottom: 0; }
      .list-tags .lagre-news .menu-cate ul li a {
        font-size: 11px; }
    .list-tags .lagre-news .menu-cate {
      margin-bottom: 0; }
    .list-tags .lagre-news .menu-cate li + li::before {
      margin: 0;
      line-height: 0; }
    .list-tags .lagre-news .info-news {
      padding-top: 0; }
    .list-tags .lagre-news .title-news a {
      font-size: 14px;
      line-height: 16px; }
    .list-tags .lagre-news .desc-news {
      display: none; }

  .tacgia {
    padding: 20px; }
    .tacgia .thumnails-avatar {
      position: initial;
      transform: initial; }

  .nd-danhmuc.box-scroll {
    margin-top: 26px; }

  .list-news-fullrow .item-news {
    margin-bottom: 16px; }

  .khampha-danhmuc .item-news .thumnails-avatar {
    position: initial;
    width: 100%; }
    .khampha-danhmuc .item-news .thumnails-avatar img {
      border-radius: 8px 8px 0 0 !important; }
  .khampha-danhmuc .item-news .info-news {
    padding: 15px; }

  .kienthuc-chuyennganh .lagre-news img {
    border-radius: 8px 8px 0 0 !important; }
  .kienthuc-chuyennganh .info-news {
    padding: 15px; }

  h2 a, h2 b, h2 strong, h2 p, h2 label {
    font-size: 20px;
    font-weight: 700; }

  .lagre-news {
    padding: 0;
    display: inline-block;
    padding-left: 0;
    min-height: inherit;
    max-width: 100%; }
    .lagre-news .thumnails-avatar {
      position: initial;
      width: 100%; }
    .lagre-news .title-news {
      -webkit-line-clamp: inherit; }
      .lagre-news .title-news a {
        font-size: 22px;
        line-height: 28px; }
    .lagre-news .info-news {
      padding-top: 15px; }
    .lagre-news .title-cate-item {
      font-size: 14px; }

  .sanpham-goiy .owl-dots {
    display: block; }
  .sanpham-goiy .item-news .info-news .desc-news {
    display: block !important; }
  .sanpham-goiy .item-news {
    padding: 0 25px !important;
    min-height: inherit; }
    .sanpham-goiy .item-news .thumnails-avatar {
      display: block;
      position: initial;
      width: 100%; }
      .sanpham-goiy .item-news .thumnails-avatar a img {
        border-radius: 8px !important; }
    .sanpham-goiy .item-news .info-news {
      box-shadow: none;
      padding: 0; }
      .sanpham-goiy .item-news .info-news .title-news {
        min-height: inherit;
        -webkit-line-clamp: inherit; }

  .danhmuc-dichvu .item-news {
    margin-bottom: 24px; }

  .item-news {
    padding-left: 155px;
    min-height: 80px; }
    .item-news .thumnails-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 140px; }
      .item-news .thumnails-avatar a img {
        border-radius: 8px !important; }
    .item-news .info-news {
      box-shadow: none;
      padding: 0; }
      .item-news .info-news .title-news {
        margin: 0;
        min-height: inherit;
        -webkit-line-clamp: inherit; }

  .why-choose-us .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .list-products .col-md-3 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .item-product {
    display: flex;
    align-items: center;
    padding: 0; }
    .item-product .thumnails-avatar {
      width: 40%; }
    .item-product .info-product {
      width: 70%; }
    .item-product .info-product {
      padding-left: 10px; }
      .item-product .info-product ul {
        display: none; }
      .item-product .info-product .btn-common-line {
        display: none; }
      .item-product .info-product h3 {
        text-align: left;
        margin-top: 0;
        min-height: 100%;
        margin-bottom: 0; }

  footer .box-right .address-footer {
    width: 100% !important; }

  header .btn-search-mb {
    width: 40px;
    height: 40px; }

  #lichsu .nav-tabs {
    display: flex; }
  #lichsu .content-page-list h3 {
    font-size: 24px; }

  .gioi-thieu .tab-intro {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset; }

  .gioi-thieu {
    padding-bottom: 0; }

  header {
    position: relative;
    background: #141414 !important; }

  .box-items:hover .detail-info {
    display: block; }

  .box-items .content h5 a {
    font-size: 24px; }

  #show-full-images .owl-nav {
    display: block; }
    #show-full-images .owl-nav .owl-prev {
      left: -50px; }
    #show-full-images .owl-nav .owl-next {
      right: -50px; }
  #show-full-images .content {
    padding-right: 0; }

  .box-items {
    margin: 0; }

  .intro-bhmed .btn-intro {
    display: inline-block;
    width: 100%;
    margin-top: 15px; }
    .intro-bhmed .btn-intro a {
      width: 100%;
      margin-bottom: 15px;
      margin-right: 0;
      min-width: 100%; }

  header.show-menu .menu {
    padding-top: 30px !important; }

  header.show-menu .menu-mobile .close-menu {
    top: 10px; }

  .menu-mobile .ti-close::before {
    font-size: 40px; }

  .menu-mobile .ti-menu::before {
    font-size: 40px; }

  .ss-slider .slider-home .item-slider-home .content-silder {
    max-width: 100%;
    left: 0;
    padding: 0 20px; }

  .ss-slider .slider-home .item-slider-home .content-silder span {
    display: block;
    font-size: 13px; }

  .ss-slider .slider-home .item-slider-home .content-silder p {
    font-size: 22px;
    margin-bottom: 5px; }

  .modal-header .close {
    top: 24px !important; }

  .modal-body {
    padding: 20px 5px; }

  .modal-dialog {
    display: flex;
    align-items: center;
    padding: 0 15px; }

  #popup-contacts {
    margin-top: 0; }
    #popup-contacts .modal-body {
      padding: 40px 20px; }
    #popup-contacts .contact-section span {
      max-width: 100%; }
    #popup-contacts .title-ss span br {
      display: none; }

  footer .desreption-footer {
    margin-top: 0; }

  .desreption-footer {
    margin: 0 15px; }
    .desreption-footer br {
      display: none; }

  footer .address-footer a {
    line-height: 24px; }

  footer .box-right .address-footer h6 {
    margin-bottom: 16px; }

  .certification img {
    height: 40px; }

  footer .item-adress-content {
    font-size: 15px; }

  footer .item-adress-content img {
    width: 20px; }

  footer .adress-content a {
    font-size: 15px; }

  footer .box-left span {
    font-size: 15px; }

  .list-news-home .news-right {
    padding-left: 40px; }

  .list-news-home .news-right .stt-news {
    font-size: 22px; }

  .item-news .title-news {
    margin-bottom: 5px; }

  .list-news-home .news-left {
    min-height: 85px; }

  .date-time-news span {
    font-size: 11px !important; }

  .item-news .info-news .title-cate-item {
    font-size: 11px !important;
    font-weight: 400; }

  .list-news-home .news-left {
    padding-right: 0;
    padding-left: 140px; }

  .item-news .info-news .desc-news {
    display: none !important; }

  .list-news-home .news-left .thumnails-avatar {
    width: 130px;
    left: 0; }

  .item-news .title-news a {
    font-size: 14px;
    line-height: 18px;
    -webkit-line-clamp: inherit; }

  .list-serviess.list-customers .owl-dots {
    margin-top: 0;
    padding-bottom: 30px; }

  .owl-dots {
    display: block;
    margin-top: 20px; }

  .list-serviess .owl-dots {
    display: block;
    margin-top: 20px; }

  .owl-nav {
    display: none; }

  .title-ss p {
    max-width: 100%;
    font-size: 14px; }

  .banner-pc {
    display: none; }

  .banner-mb {
    display: block; }

  header .btn-search-mb {
    margin-right: 0; }

  .title-headpage {
    font-size: 26px;
    margin-top: 24px;
    margin-bottom: 16px; }

  .tab-custom .nav-tabs {
    display: inherit; }
    .tab-custom .nav-tabs a {
      width: fit-content;
      float: left;
      margin-bottom: 16px; }

  .pagging-page ul li a, .pagging-page ul li span {
    width: 25px;
    height: 25px; }

  .title-mini h2 {
    font-size: 18px; }

  h1 {
    font-size: 28px;
    font-family: "Philosopher", sans-serif; }

  .contact .big-box-contact {
    margin-right: -7px;
    margin-left: -7px; }
    .contact .big-box-contact .col-md-6 {
      padding: 0 8px;
      flex: 0 0 50%;
      max-width: 50%; }
    .contact .big-box-contact .col-md-12 {
      padding: 0 8px; }

  section {
    padding: 32px 0; }

  footer {
    padding: 45px 0; }

  footer .box-left h5 {
    font-size: 16px; }

  header .search-head .ti-close {
    right: 20px; }

  header .search-head {
    padding-left: 60px; }

  header .search-head button {
    left: 20px; }

  footer .item-adress-content {
    float: inherit; }

  .title-ss {
    margin-bottom: 24px; }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #D0A543; } }
@media screen and (max-width: 620px) {
  footer .box-right {
    display: inline-block;
    width: 100%; }
    footer .box-right .address-footer {
      width: 50%;
      float: left;
      padding: 12px 0; }
      footer .box-right .address-footer:last-child {
        width: fit-content; } }
@media screen and (max-width: 350px) {
  .item-product .info-product h3 {
    line-height: 16px; }
    .item-product .info-product h3 a {
      font-size: 14px; }

  .alert-noti span {
    font-size: 13px;
    color: white; }

  .dichvukhac .item-news {
    padding-left: 110px;
    min-height: 70px;
    margin-bottom: 16px; }
    .dichvukhac .item-news .thumnails-avatar {
      width: 100px; }

  .baiviet-lienquan .item-news {
    padding-left: 110px;
    min-height: 100px;
    margin-bottom: 16px; }
    .baiviet-lienquan .item-news .thumnails-avatar {
      width: 100px; }

  .list-news-fullrow .item-news {
    padding-left: 110px;
    min-height: 100px;
    margin-bottom: 16px; }
    .list-news-fullrow .item-news .thumnails-avatar {
      width: 100px; }

  .kienthuc-chuyennganh .item-news {
    padding-left: 110px;
    min-height: 100px;
    margin-bottom: 16px; }
    .kienthuc-chuyennganh .item-news .thumnails-avatar {
      width: 100px; }

  .ss-slider .slider-home .item-slider-home .content-silder p {
    font-size: 22px;
    margin: 0;
    margin-bottom: 16px; }

  .ss-slider .slider-home .item-slider-home .content-silder span {
    display: none; }

  .tt-khoahoc .item-news {
    padding-left: 110px;
    min-height: 66px;
    margin-bottom: 16px; }
    .tt-khoahoc .item-news .thumnails-avatar {
      width: 100px; }

  .danhmuc-dichvu .item-news {
    padding-left: 110px;
    min-height: 60px;
    margin-bottom: 16px; }
    .danhmuc-dichvu .item-news .thumnails-avatar {
      width: 100px; }

  .list-tags .lagre-news {
    padding-left: 110px;
    min-height: 100px;
    margin-bottom: 16px; }
    .list-tags .lagre-news .menu-cate ul li a {
      font-size: 10px; }
    .list-tags .lagre-news .thumnails-avatar {
      width: 100px; }

  .baiviet-lienquan .item-news {
    padding-left: 110px;
    min-height: 100px;
    margin-bottom: 16px; }
  .baiviet-lienquan .thumnails-avatar {
    width: 100px; }

  .baiviet-chuyengia .item-news {
    padding-left: 110px;
    min-height: 100px;
    margin-bottom: 16px; }
  .baiviet-chuyengia .thumnails-avatar {
    width: 100px; }

  .chuyengia .row .col-md-6 {
    margin-bottom: 24px; }
  .chuyengia .lagre-news {
    padding-left: 120px;
    min-height: 109px;
    padding-right: 15px; }
    .chuyengia .lagre-news .title-news a {
      font-size: 16px; }
    .chuyengia .lagre-news .desc-news {
      display: none; }
    .chuyengia .lagre-news .thumnails-avatar {
      width: 100px;
      position: absolute; }
    .chuyengia .lagre-news .info-news {
      padding-top: 15px; }
    .chuyengia .lagre-news .btn-common-line {
      display: none; }

  .ss-slider .slider-home .item-slider-home .content-silder p {
    font-size: 22px; }

  .btn-common-fill, .btn-common-line, input[type=button], input[type=submit], .btn-common-fill2 {
    height: 48px; }

  .pagging-page ul li a {
    width: 20px;
    height: 20px;
    margin: 0 8px; }

  .lienhe .form-contact {
    padding: 16px; } }

/*# sourceMappingURL=responsive.css.map */
