@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$brand:#D0A543;
$brand-2:#4DB2EC;
$border:#DFDFDF;
$text:#464646;
$text-alpha:#707070;
$bg:#FFFAF0;
$hover:#D0A543;
h1, h2, h3, h4, h5, h6{
	font-family: "Philosopher", sans-serif;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: $text;
	padding: 0;
	margin: 0;
}
h1{
	font-family: "Philosopher", sans-serif;
	font-size: 32px;
	font-weight: 700;
	a, b , strong, p, label  {
		font-size: 32px;
		font-weight: 700;
	}
}

h2{
	font-size: 26px;
	font-weight: 700;
	a, b , strong, p, label, span  {
		font-size: 26px;
		font-weight: 700;
	}
}
h3{
	
	font-size: 22px;
	font-weight: 700;
	a, b , strong, p, label, span  {
		font-size: 22px;
		font-weight: 700;
	}
}
h4{
	font-size: 20px;
	font-weight: 700;
	a, b , strong, p, label, span  {
		font-size: 20px;
		font-weight: 700;
	}
}
h5{
	font-size: 18px;
	font-weight: 700;
	a, b , strong, p, label, span  {
		font-size: 18px;
		font-weight: 700;
	}
}
h6{
	font-size: 18px;
	font-weight: 700;
	a, b , strong, p, label, span  {
		font-size: 18px;
		font-weight: 700;
	}
}



p, strong, b, i{
	font-size: 16px;
}
span{
	font-size: 13px;
}

label{
	font-size: 14px;
}
a{
	color: $text;
	&:hover{
		text-decoration: none;
	}
}

// h1, h2, h3, h4, h5, h6{
//     font-weight: bold;
// }
@mixin webkit-line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
@mixin shadow-effect {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
@mixin display-width {
    display: inline-block;
    width: 100%;
}

.container{
	max-width: 1300px;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}
section{
	padding: 40px 0;
	&.ss-2{
		padding: 0 0 60px 0;
	}
	&.ss-3{
		margin-top: 40px;
		padding: 60px 0 0 0;
	}
}
.btn-center{
	margin-top: 24px;
	display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.btn-right{
	margin-top: 24px;
	display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
}
.btn-left{
	margin-top: 24px;
	display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
}

.title-ss{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	h1{
		font-size: 32px;
		font-family: "Philosopher", sans-serif;
		text-transform: uppercase;
		margin-bottom: 0;
		font-weight: 700;
		a{
			&:hover{
				color: $text;
			}
		}
	}
	p{
		margin: 0 auto;
		max-width: 70%;
		margin-bottom: 0;
		font-size: 18px;
		font-weight: 500;
		margin-top: 10px;
	}
	.line-title{
		background: $brand;
		width: 45px;
		height: 3px;
		margin: 24px auto 0 auto;
	}
}

.thumnails-avatar{
	display: inline-block;
	width: 100%;
	a{
		position: relative;
		padding-top: 56%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
			// border-radius: 12px;
		}
	}
}
.ellipsis {
	white-space: normal;
	text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
   }

	.modal-header .close {
		position: absolute;
		right: 30px;
		font-size: 30px;
		padding: 8px;
		color: #757575;
		opacity: 1;
		background: #d9d9d9;
		text-shadow: none;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		top: 30px !important;
		z-index: 9999;
	}
	.modal-dialog{
		max-width: 700px;
	}
    .modal-body{
        padding: 0;
    }
    .modal-content{
        margin: 0;
        background-color: white;
        width: 100%;
        // height: 100%;
		// padding: 40px;
       
    }
	.form-contact{
		p{
			max-width: 50%;
			margin: 0 auto 35px auto;
		}
	}
	.modal-header .close:before {
		content: "\e5cd";
		color: $brand;
		font-size: 24px;
		font-family: 'Material Symbols Outlined';
	}

	.modal-header{
		padding: 0;
		border-bottom: 0;
	}



header .menu nav ul li.active a{
	color: $brand;
}
.list-mota li {
	text-decoration: none;
	list-style: none;
}
// <==================================Footer==================================>
footer{
	
	background: #313131;
	color: white;
	padding: 32px 0;
	a{
		color: white;
	}
	h2{
		margin: 16px 0 4px 0;
		text-transform: uppercase;
		font-family: "Philosopher", sans-serif;


	}
	
	.logo{
		height: 60px;
	}
	.box-left{
		display: inline-block;
		width: 100%;
		h5{
			margin: 20px 0 8px 0;
			color: $text;
			text-transform: uppercase;
		}
		span{
			font-size: 18px;
		}
	}
	.box-right{
		display: flex;
		width: 100%;
		align-items: flex-start;
		justify-content: space-between;
		.address-footer{
			h6{
				font-family: "Philosopher", sans-serif;
				color: $brand;
				margin-bottom: 24px;
			}
		}
	}
	.address-footer{
		display: inline-block;
		width: 100%;
		padding: 0 15px;
		a{
			display: inline-block;
			width: 100%;
			font-size: 14px;
			margin-bottom: 6px;
			line-height: 28px;
			&:hover{
				color: $brand;
			}
		}
	}
	.adress-content{
		display: inline-block;
		width: 100%;
		margin-top: 20px;
		a{
			color: $brand;
			font-size: 18px;
			font-weight: 500;
		}
	}
	.item-adress-content{
		float: left;
		margin-right: 15px;
		margin-bottom: 16px;
		font-size: 16px;
		a{
			&:hover{
				color: $brand;
			}
		}
		img{
			margin-right: 4px;
		}
	}
	.social-footer {
		.item-flex{
			padding-left: 30px;
			margin-bottom: 16px;
			p{
				margin-bottom: 0;
				font-size: 14px;
			}
		}
	}
	.desreption-footer{
		border-top: 1px solid #464646;
		padding-top: 20px;
		text-align: center;
		margin-top: 20px;
		p{
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 28px;
		}
		img{
			height: 42px;
		}
	}
}
// <==================================Footer==================================>

// header{
// 	.btn-common-fill  {
// 		&:hover{
// 			background: white;
// 			opacity: 1;
// 			color: $brand;
// 		}
// 	}
// }
button{
	border: 0;
	&:focus{
		outline: none;
	}
}
[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: unset;
	}
.btn-common-fill,
.btn-common-line,
input[type=button],
input[type=submit], .btn-common-fill2 {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $brand;
	padding: 14px 28px;
	color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	color: white;
	height: 55px;
	line-height: 24px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 50px;
	min-width: 160px;
	width: fit-content;
	border: 1px solid $brand;
	&:hover{
		border: 1px solid $brand;
		background: transparent;
		opacity: 1;
		color: $brand;
	}

	i,
	img, svg {
		//font-weight: 600;
		margin-left: 8px;
		width: 16px;
	}
	&::before{
		content: "\ebcc";
		font-size: 24px;
		font-family: 'Material Symbols Outlined';
		margin-right: 8px;
	}
	
}
.btn-common-fill{
	color: white;
	
	font-family: "Montserrat", sans-serif;

}
// .danhmuc-dichvu{

// }
.btn-common-line{
	font-family: "Montserrat", sans-serif;

	background-color: transparent !important;
	color: $brand !important;
	border: 1px solid $brand !important;
	// &:hover{
	// 	background: $brand !important;
	// 	color: white !important;
	// 	border: 2px solid $brand !important;
	// }
}
// header
.modal-dialog{
			
		// height: 100%;
		display: flex;
		align-items: center;
		padding: 0 15px;
		// margin: 0;
	}
header {
	display: inline-block;
	width: 100%;
	position: fixed;
	top: 0;
	// left: 0;
	z-index: 99;
	transition: top 0.3s;

	padding: 10px 50px;
	// background: #0000001f;	
	background: linear-gradient(180deg, #000000 0%, rgba(217, 217, 217, 0) 100%);
	&.menu-scroll{
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
		position: fixed;
		left: 0;
		top: 0;
		background: #141414 !important;
		z-index: 1024;
	}
	.top-head{
		display: flex;
		align-items: center;
		.language-box{
			
			margin: 0 20px;
			
			img{
				height: 24px;
				cursor: pointer;
				margin-right: 0;
			}
			ul{
				position: absolute;
				left:-15px;
				top: 10px;
				width: 100px;
				display: inline-block;
				padding-top: 30px;
				opacity: 0;
				visibility: hidden;
				z-index: 2;
				li{
					opacity: 1 !important;
					display: inline-block;
					width: 100%;
					text-align: left;
					a{
						background: white;
						padding: 15px;
						box-shadow: -1px -1px 7px rgba(0, 0, 0, 0.13);
						border-radius: 5px;
						color: #212529;
						width: 100%;
						display: inline-block;
						opacity: 1 !important;
						img{
							height: 24px;
							margin-right: 0;
						}
						
						&:hover{
							opacity: 1 !important;
							color: $brand;
						}
						
					}
				}
			}
			&:hover{
				cursor: pointer;
				ul{
					opacity: 1;
					visibility: initial;
				}
			}
		}
	}

.content-head{
	display: flex;
	align-items: center;
	justify-content: space-between;
}	
.menu nav ul li.active a svg path {
    fill: $brand;
}
.menu nav ul li a svg  {
   margin-top: 2px;
}
.menu nav ul li.no-sub   {
	padding: 0 16px;
 }
.menu {
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: left;
	nav {
		ul {
			padding: 0;
			display: flex;
			justify-content: left;
			margin-bottom: 0;

			li {
				position: relative;
				list-style: none;
				padding:  0 24px;
				&::before {
					content: "\e313";
					color: white;
					font-size: 24px;
					font-family: 'Material Symbols Outlined';
					position: absolute;
					right: 0;
    				top: 0;
					z-index: 3;
				}
				&.no-sub{
					&::before{
						display: none;
					}
				}
				i {
					display: none;
				}

				a {
					padding: 0;
					position: relative;
					font-size: 20px;
					font-family: "Philosopher", sans-serif;
					color: white;
					display: flex;
					align-items: center;
					font-weight: 700;
				}
				
				ul {
					position: absolute;
					width: 330px;
					left: 15px;
					top: 32px;
					border-radius: 0 0 4px 4px;
					border-top:2px solid $brand;
					opacity: 0;
					visibility: hidden;
					background: white;
					box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
					padding:  12px 24px 12px 24px;
					-webkit-transition: all .5s ease;
					transition: all .5s ease;
					-webkit-transform: translateY(10px);
					transform: translateY(10px);
					display: inline-block;

					li {
						padding:  0;
							&::before{
								display: none;
							}
						a {
							display: inline-block;
							width: 100%;
							font-weight: 400;
							transition: all 0.3s linear;
							transition: 0.5s;
							padding: 12px 0;
							font-size: 18px;
							color: $text;
							border-bottom: 0;
							font-family: "Philosopher", sans-serif;
							&::before {
								display: none;
							}

							&:hover {
								padding-left: 0;
								border-radius: 0;
								color: $text-alpha;
							}
							
						}
						&:last-child{
							a{
								border-bottom: 0;
							}
						}

					}

				}

				&:hover {
					&::before {
						color: $brand;
					}
					a{
						color: $brand;
					}
					ul {
						opacity: 1;
						visibility: initial;
						li a{
							color: $text;
							&:hover{
								color: $brand;
							}
						}
						
					}
				}

				&.active {
					&::before{
						color: $brand;
					}
					a {
						color: $brand;
					}

					ul {
						li {
							a {
								color: $text;

								&.active {
									color: $brand;
								}
							}
						}
					}
				}
			}
		}
	}
}
.btn-search-mb{
	display: none;
}


.search-head{
	background: white;
	display: none;
	width: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.5s;
	box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.03);
	border: 1px solid $border;
	&:hover{
		border: 1px solid $brand;
	}
	.container{
		max-width: 600px;
		position: relative;
	}

	.ti-close{
			
		&::before{
			content: "\e5cd";
			font-family: 'Material Symbols Outlined';
			font-size: 24px;
			color: #757575;
			font-style: normal;
		}
	}
	.ti-close {
		position: absolute;
		right: 60px;
		top: 20px;
		cursor: pointer;
		color: $text-alpha;
		padding: 10px;
		border-radius: 0 2px 2px 0;
		//font-weight: 400;
	}
	padding-left: 100px;
	
	button{
		border: 0;
		position: absolute;
		left: 60px;
		top: 30px;
		font-size: 20px;
		color: #606060;
		background: transparent;
	}
	.btn-ti-search{
		&::before{
			content: "\e8b6";
			font-family: 'Material Symbols Outlined';
			font-size: 24px;
			color: #757575;
			font-style: normal;
		}
	}
}
.btn-search-mb{
		display: block;
		margin-right: 0;
        padding: 10px;
        border: 1px solid #D0A543;
        border-radius: 50px;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
		cursor: pointer;
	
	.ic-search{
	
		color: #959FAB;
		
		&::before{
			//font-weight: 600;
			// content: "\e610";
			font-size: 15px;
		}
	}
}
.top-head{
	// position: relative;
	&.show-search-mb {
		.search-head{
			display: block;
			z-index: 999;
		   
			i{
				border-radius: 0;
			}
		}
		.close-search{
			display: block;
		}
		input{
			border:0;
			border-radius: 2px;
			height: 100px;
			font-size: 18px;
			width: 100%;
			&::placeholder{
				color: $text-alpha;
				font-size: 18px;
			}
		}
	   
		.top-head{
			position: absolute;
			top: 15px;
			width: 100%;
			left: 0;
		}
	  }
}

.logo{
	float: left;
	img{
		height: 70px;
	}
}

.menu-mobile{
	display: none;
	.ti-menu{
		display: none;
	}
	 .close-menu{
		 display: none;
	 }
 }
 .content-head-right {
    display: flex;
    align-items: center;
}
.btn-header {
    display: flex;
	margin-left: 32px;
	a{
		// margin: 0 8px;
}

}
}
.action-btn{
	display: none;
	bottom: 100px;
	position: fixed;
	right: 30px;
	z-index: 999;
   
}
.action-btn{
    z-index: 12 !important;
}


/*------------- Custom editor  --------------*/
.editor-body{

	h2{
		font-size: 26px;
		font-weight: 700;
		a, b , strong, p, label, span  {
			font-size: 26px;
			font-weight: 700;
		}
	}
	h3{
		font-size: 22px;
		font-weight: 700;
		a, b , strong, p, label, span  {
			font-size: 22px;
			font-weight: 700;
		}
	}
	h4{
		font-size: 20px;
		font-weight: 700;
		a, b , strong, p, label, span  {
			font-size: 20px;
			font-weight: 700;
		}
	}
	h5{
		font-size: 18px;
		font-weight: 700;
		a, b , strong, p, label, span  {
			font-size: 18px;
			font-weight: 700;
		}
	}
	h6{
		font-size: 18px;
		font-weight: 700;
		a, b , strong, p, label, span  {
			font-size: 18px;
			font-weight: 700;
		}
	}
	p, strong, b, i{
		font-size: 16px;
	}
	span{
		font-size: 14px;
	}
	
	label{
		font-size: 14px;
	}
	img{
		max-width:100% !important;
		margin: 20px auto ;
	}
  }
/* --------------Checkbox-------------------- */
.form-group{
	.form-control, .custome-select select, textarea{
		border: 1px solid $border;
		font-size: 16px;
		padding: 20px;
		height: 60px;
		border-radius: 8px;
		color: $text;
		display: inline-block;
		width: 100%;
		&::placeholder{
			color: $text-alpha;
		}
	}
	
	textarea{
		height: 88px;
	}
}
.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 15px;
	font-weight: normal !important;

	&:checked {
		color: $brand  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 14px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 4px;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $text  !important;
	
}
/* check-radio-custom */

.check-radio-custom {
	margin: 5px 0 15px 0;
	display: flex;
}
.check-radio-custom [type="radio"]:checked+label{
	color: $brand !important;
}
.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: $text;
	margin-bottom: 0;
	font-weight: normal;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 20px;
	height: 20px;
	border: 1px solid $border;
	border-radius: 100%;
	background: #fff;
}
.check-radio-custom [type="radio"]:checked + label::before{ 
	border: 1px solid $brand !important;
}
.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $brand;
	position: absolute;
	top: 5px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 0 20px;
}
.form-control:focus {
    border-color: $brand;
    outline: 0;
    box-shadow: none;
}
/*------------ Custom select box -------------*/
.custom-select {
	height: 60px;
	background-color: white;
	border-radius: 8px;
	border: 1px solid $border;
	position: relative;
	padding: 0;
	background: white;
	display: flex;
	align-items: center;
}
.select-items {
    overflow-y: auto !important;
    max-height: 250px;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	
	top: 0;
	right: 40px;

	content: "\e5c5";
    color: #8C8B8D;
    font-size: 32px;
    font-family: 'Material Symbols Outlined';
}
.form-control:focus{
	border: 1px solid $brand !important;
}
textarea {
    height: 88px !important;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	// color: $text;
	padding: 8px 16px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 16px;
	text-align: left;
}
.select-items div{
	color: $text;
}
.select-selected.active{
	color: $text !important;
}
.select-selected{
	color: #8C8B8D;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 20px;
}
/* Style items (options): */
.select-items {
	padding: 15px 0;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 45px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 4px;
	max-height: 140px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #EBF2FD;
}
.img-detail{
	img{
		width: 100%;
	}
}
/*------------- News --------------*/ 
.detail-cate-news{
	.lagre-news{
		max-width: 100%;
		border: 0;
		background: transparent;
	}
	
}
.lagre-news{
	padding-right: 20px;
	position: relative;
	padding-left: 570px;
    min-height: 304px;
    background: white;
    border-radius: 8px;
    border: 1px solid $border;
	max-width: 85%;
    margin: 0 auto;
	align-items: center;
	height: 100%;
	display: flex;
	.thumnails-avatar{
		position: absolute;
		left: 0;
		top: 0;
		width: 540px;
	}
	.thumnails-avatar a img{
		border-radius: 8px;
		
	}
	
	.title-cate-item{
		font-size: 16px;
		font-weight: 700;
		color: $brand;
	}
	.title-news {
		// min-height: 50px;
		margin-bottom: 10px;
		margin-top: 5px;
		line-height: 20px;
		@include webkit-line-clamp();
		&:hover{
			color: $brand;
		}
		a{
			font-family: "Philosopher", sans-serif;
			color: $text;
			font-size: 32px;
			line-height: 40px;
			&:hover{
				color: $brand;
			}
		}
	}
}
.item-news.big-news{
	.title-news{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
	}
}
.item-news {
	margin-bottom: 30px;
	position: relative;
	display: inline-block;
	width: 100%;
	.info-news {
	
		padding-top: 20px ;
		// background: white;
		// box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.11);
		border-radius: 8px;
		a span, span{
			color: $text-alpha;
			line-height: 20px;
		}
		.desc-news{
			@include webkit-line-clamp();
			font-size: 14px;
			margin-bottom: 8px;
		}
		.title-cate-item{
			font-weight: 700;
			font-size: 16px;
			color: $brand;
		}
	}
	
	.thumnails-avatar {
		display: block;
		a {
			img {
				border-radius: 8px;
			}
		}
	}
	.title-news {
		min-height: 50px;
		margin-bottom: 10px;
		margin-top: 5px;
		line-height: 20px;
		@include webkit-line-clamp();
		&:hover{
			color: $brand;
		}
		a{
			font-family: "Philosopher", sans-serif;
			color: $text;
			font-size: 20px;
			line-height: 29px;
			&:hover{
				color: $brand;
			}
		}
	}
	
}
.date-time-news {
	margin-bottom: 0;
	color: $text-alpha;
	position: relative;
	span{
		margin-right: 0 !important;
		font-size: 16px;
		line-height: 20px;
	}
	img{
		width: 20px;
		margin-right: 7px;
	}
	// .date-news::after {
	// 	content: ' - ';
	// 	display: inline-block;
	// 	margin-left: 5px;
	// }
	p{
		margin-left: 0;
		margin-bottom: 0;
		
	}

}
// danh sach tin tuc


.block-toc__link--active {
	padding: 6px 10px;
    background: $bg;
    margin-bottom: 8px;
    border-radius: 4px;
	margin-bottom: 8px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mt-35 {
	margin-top: 35px;
}
.none-overflow{
	overflow: inherit;
}
/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1;
    top: 100px;
}
.nd-danhmuc.box-scroll{
	margin-top: 66px;
}
.nd-danhmuc{
	
	border-radius: 8px;
	
	top: 120px;
.show-sticky{
	top: 50px;
}
h2{
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 24px;
}
ul{
	
	counter-reset: headings;
	
	li{
		padding-left: 0;
		list-style: none;
		font-size: 14px;
		line-height: 20px;
		width: 100%;
		background: transparent;
		
		border-radius: 8px;
		margin-bottom: 15px;
		a{
			color: $text;
			font-weight: 500;
			padding: 0;
			counter-increment: headings;
			&::before{
				// content: counter(headings) ". ";
			}
		}
		
	}
	
}

.bg-light{
	background-color: transparent  !important;
	padding: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: transparent;
	color: $brand;
}
}
.noidungbaiviet{
	.date-time-news span{
		font-size: 16px;
	}
		.title-headpage{
			
			max-width: 100%;
			text-align: center;
			font-size: 44px;
			margin: 36px auto 20px auto;
			text-align: center;
		}
	.date-share-news{
		display: flex;
		align-items: center;
		justify-content: right;
		margin-bottom: 32px;
		.share-news{
			display: flex;
			align-items: center;
		margin-left: 20px;
			p{
				font-weight: 700;
				color: $brand;
				margin-bottom: 0;
				margin-left: 5px;
			}
		}
	}
	padding-top: 0;
	.title-timedate{
		border: 1px dashed $brand;
		border-radius: 50px;
		width: fit-content;
		padding: 6px 14px;
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		a{
			background: $brand;
			color: white;
			border-radius: 50px;
			padding: 2px 10px;
			font-size: 13px;
			line-height: 20px;
			margin-right: 6px;
			
		}
		.date-time-news{
			margin-left: 5px;
			
		}
	}
	
	
}
.none-overflow {
    overflow: inherit;
}
.chitiet-baiviet{
	p{
		text-align: justify;
		font-size: 16px;
		line-height: 30px;
	}
	h2{
		// font-size: 24px;
		line-height: 38px;
	}
}
// baiviettuongtu
.baiviettuongtu{
	.item-news .thumnails-avatar a img{
		border-radius: 8px 8px 0 0;
	}
	.item-news {
		margin-bottom: 0;
		.info-news{
			border-radius: 0 0 8px 8px;
		}
	}
}


.form-group{
	margin-bottom: 20px;
}

.pagging-page {
    width: 100%;
	.pagination {
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}
	ul li{
		a.active{
			background-color: $brand;
			padding-top: 5px;
			border-radius: 4px;
			color: white;
			&:hover{
				color: white;
			}
		}
		a{
			display: flex;
			width: 51px;
			height: 51px;
			margin: 0 5px;
			text-align: center;
			font-size: 16px;
			text-decoration: none;
			color: $text;
			padding: 4px;
			align-items: center;
			justify-content: center;
			font-weight: 700;
		}
		&:hover a {
			color: $brand;
		}
		&:hover i::before {
			color: $brand;
		}
	}
	
	
}
.ti-angle-left:before {
	content: "\e408";
	color: $text;
    font-size: 34px;
    font-family: 'Material Symbols Outlined';
	font-style: normal;
}
.ti-angle-right:before {
    content: "\e409";
	color: $text;
    font-size: 34px;
    font-family: 'Material Symbols Outlined';
	font-style: normal;
}
.mt-35{
	margin-top: 35px;
}
.title-mini-item{
	font-size: 24px;
	font-weight: 400;
}
i{
	font-size: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}
.mt-20 {
    margin-top: 20px;
}
// silder-home

.banner-pc{
	display: block;
}
.banner-mb{
	display: none;
}
.readmore{
	&::after{
		
		content: "\e5c8";
		font-size: 20px;
		font-family: 'Material Symbols Outlined';
		margin-left: 8px;
	}
	&::before{
		display: none;
	}
}
.ss-slider{
	padding: 0;
	.slider-home{
		.item-slider-home{
			position: relative;
			.content-silder{
				top: 50%;
				transform: translateY(-50%);
				position: absolute;
				width: 100%;
				text-align: center;
				z-index: 1;
				text-align: left;
				max-width: 45%;
    			left: 45px;
				p{
					font-family: "Philosopher", sans-serif;
					color: white;
					margin-bottom: 10px;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 40px;
				}
				span{
					color: white;
					margin-bottom: 20px;
					font-size: 18px;
					font-weight: 400;
					display: inline-block;
				}
			}
		}
	}
	.owl-nav{
		display: none;
	}
	.owl-dots{
		left: 0;
		margin-top: 0;
		position: absolute;
		z-index: 99;
		right: 0;
		bottom: 15px;
	}
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
		background: $brand;
		
	}
	.owl-theme .owl-dots .owl-dot.active span {
		width: 57px;
		
	}
	.owl-theme .owl-dots .owl-dot span{
		background: white;
	}
}
// ve BHMED 
.intro-bhmed{
	background: $bg;
	.row{
		align-items: center;
	}
	.btn-common-fill{
		border: 1px solid white;
	}
	.btn-intro{
		display: flex;
		margin-top: 45px;
		a{
			margin-right: 24px;
			background: white;
			color: $text;
			box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.08);
			&::before{
				display: none;
			}
		}
	}
	h6{
		font-weight: 500;
		line-height: 28px;
		margin-bottom: 32px;
	}
	.videos{
		position: relative;
		width: 100%;
		height: 380px;
		.video-cans {
			
			display: inline-block;
			width: 100%;
			position: relative;
			background-size: cover !important;
			height: 380px;
			border-radius: 20px;
			cursor: pointer;
			img {
			  width: 100%;
			}
		  }
		
		.close-bg-video {
			position: absolute;
			right: -50px;
			top: -10px;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			text-align: center;
			font-weight: normal;
			border: 0;
			font-size: 20px;
			outline: none;
			z-index: 9999999;
			background-color: white;
		  }
		  .current_page_item {
			a {
			  color: $brand;
			}
		  }
		  
		  .overlay {
			width: 100%;
			margin: 0 auto;
			height: 380px;
			display: none;
		  
			&._active {
			  display: block;
			  iframe {
				width: 100%;
				height: 380px;
			  }
			}
		  }
	}
	.ic-play{
		position: absolute;
		bottom: 130px;
		left: 0;
		right: 0;
		text-align: center;
	}
}

.why-choose-us{
	background: url(../images/bg-whychooseus.png) center top no-repeat;
	background-size: cover;
    height: 100%;
    padding-bottom: 0;
	.title-ss{
		h1{
			color: white;
		}
	}
}
.item-flex{
	position: relative;
    padding-left: 80px;
    margin-bottom: 45px;
	color: white;
	.number{
		position: absolute;
		left: 0;
		top: 50%;
		
		transform: translateY(-50%);
		.bg-number{
			font-family: "Philosopher", sans-serif;
			font-size: 30px;
			background: $brand;
			border-radius: 50%;
			display: flex;
			width: 65px;
			height: 65px;
			text-align: center;
			padding: 5px 15px;
			align-items: center;
			justify-content: center;
		}
	}
	p{
		font-family: "Montserrat", sans-serif;
		font-size: 18px;
	}
}
.list-serviess{
	
	.owl-dots{
		display: none;
	}
	.owl-next{
		bottom: 50%;
		position: absolute;
		right: 0;
	}
	.owl-prev{
		bottom: 50%;
		position: absolute;
		left: 0;
	}
	
}
.owl-nav{
	display: inline-block;
	width: 100%;
	.owl-next, .owl-prev{
		background: #6b6b6b !important;
		color: white!important;
		border: none!important;
		padding: 0 !important;
		width: 45px;
		height: 45px;
		border-radius: 50px !important;
		&:hover{
			background: $brand !important;
		}
	}
	span{

		line-height: 28px;
		
		font-size: 32px;
		
	}
}
.box-items{
	position: relative;
	margin: 0 15px;
	
	.thumnails-avatar{
		a{
			padding-top: 100%;
			img{

			}
		}
	}
	.content{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 40px 40px 0 40px;
		color: #ffffff;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		h5{
			margin-bottom: 0;
			a{
				font-size: 30px;
				font-family: "Philosopher", sans-serif;
				color: white;
				// @include webkit-line-clamp();
				text-transform: uppercase;
			}
		}
		.line{
			border-bottom: 4px solid $brand;
			margin-top: 24px;
		}
		.detail-info{
			max-height: 0;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			overflow: hidden;
			p{
				font-family: "Montserrat", sans-serif;
				color: white;
				margin: 24px 0;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			
		}
		
	}
	&:hover{
		.content{
			padding-bottom: 40px;
    		height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		}
		.detail-info{
			max-height: 300px;
		}
	}
}


	.item-product{
		padding: 20px ;
		background: white;
		border-radius: 12px;
		margin-bottom: 30px;
		&:hover{
			box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.09);
			transition: all .3s ease-in-out;
			.btn-common-line{
				border: 1px solid $brand !important;
			}
			h5{
				a{
					color: $brand;
				}
			}
		}
		.thumnails-avatar{
			a{
				padding-top: 70%;
			}
		}
		.info-product{
			h3{
				color: $text;
				text-transform: uppercase;
				text-align: center;
				margin: 24px 0 16px 0;
				font-weight: 700;
				font-family: "Philosopher", sans-serif;
				min-height: 60px;
				a{
					font-size: 20px;
					&:hover{
						color: $brand;
					}
				}
			}
			ul{
				min-height: 300px;
				li{
					position: relative;
					padding-left: 32px;
					margin-bottom: 24px;
					text-decoration: none;
					list-style: none;
					font-weight: 500;
					img{
						position: absolute;
						left: 0;
						top: 50%;
						width: 20px;
						height: 20px;
						transform: translateY(-50%);
					}
					span{
						color: $text-alpha;
						font-size: 16px;
					}
				}
			}
		}
		.btn-common-line{
			margin: 0 auto;
			border: 1px solid #fff !important;
		}
	}
	.btn-action{
		a{
			&:hover{
				border: 1px solid $brand;
			}
		}
	}

.btn-action {
	display: inline-block;
    width: 100%;
	text-align: center;
	margin-top: 30px;
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
}
.list-customer{
	background: url(../images/bg-customer.png) center top no-repeat;
	background-size: cover;
    height: 100%;
    padding-bottom: 0;
	.owl-next, .owl-prev{
		bottom: 50%;
	}
	.box-items {
		margin-bottom: 30px;
		.content {
			padding: 40px 40px 20px 40px;
			text-align: center;
			h5 {
				a{
					color: $brand;
					font-size: 20px;
				}
			}
			.line{
				display: none;
			}
			.detail-info{
				max-height: inherit;
				overflow: inherit;
				p{
					font-weight: 500;
					margin: 8px 0 0 0;
				}
			}
		}
		&:hover{
			.content{
				height: inherit;
			}
		}
	}
}
.list-news-home{
.item-news .title-news{
	min-height: 100%;
}
	.btn-action{
		margin-top: 0;
	}
	.row{
		align-items: center;
	}
	.title-news{
		margin-top: 0;
		a{
			// font-size: 22px;
			margin-bottom: 0;
		}
	}
	.news-left {
		min-height: 195px;
		padding-right: 320px;
		margin: 0 0 30px 0;
		position: relative;
		display: inline-block;
		width: 100%;
		.info-news {
			padding-top: 0;
			box-shadow: none;
		}
		.thumnails-avatar {
			position: absolute;
			right: 15px;
			top: 0;
			width: 300px;
			a{
				padding-top: 65%;
			}
		}
	}
	.news-right {
		padding-left: 60px;
		margin: 15px 0;

		position: relative;
		display: inline-block;
		width: 100%;

		.info-news {
			padding: 0;
		}
		.stt-news{
			font-size: 30px;
			color: $brand;
			line-height: initial;
			font-weight: 700;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			font-family: "Philosopher", sans-serif;
    
		}
	}
	.item-news .info-news .desc-news{
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

}
.modal-body {
    text-align: center;
    padding: 40px;
}
.contact-section{
	h2{
		margin-bottom: 10px;
	}
	span{
		font-size: 16px;
		max-width: 80%;
		margin: 0 auto;
		display: inline-block;
	}
	.btn-action {
		text-align: right;
	}
	.title-ss{
		margin-bottom: 32px;
	}
}
// breadcrumb-box
.breadcrumb-box{
	display: inline-block;
    width: 100%;
    margin-top: 20px;
	// border-top: 1px solid $border;
	.breadcrumb-icon-home{
		img{
			height: 20px;
			margin-bottom: 2px;
		}
	}
	nav{
		ol{
			padding-left: 0;
			padding-bottom: 0;
			margin: 0;
			background: none;
			display: flex;
    		align-items: center;
			padding-top: 0;
			.breadcrumb-item{
				color: $text-alpha;
				// display: initial;
				a{
					font-size: 14px;
					line-height: 20px;
				}
			}	
		}
	}
	.breadcrumb-item+.breadcrumb-item {
		display: flex;
		padding-left: 0.5rem;
		font-size: 14px;
		align-items: center;
		&::before {
			content: "\e409";
			color: $text-alpha;
			font-size: 20px;
			font-family: 'Material Symbols Outlined';
			
		}
	}
	.breadcrumb-item+.breadcrumb-item a{
		color: $text-alpha;
	}
	
}

/* --------------------------- Custom tab content ------------------------------- */
.tab-custom {
	.tab-content {
		margin: 20px 20px 0 10px;

	}

	.nav-tabs {
		border: 0;
		display: flex;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: 100%;
		flex-wrap: unset;
		justify-content: center;

		.nav-link {
			color: $text;
			border: 0;
			padding: 16px;
			font-size: 16px;
			font-weight: 700;

			&.active {
				background-color: $brand;
				border-radius: 0;
				color: $brand;
			}
		}
	}
}
.danhmuc-sanpham{
	padding-top: 34px;
	.tab-custom .nav-tabs .nav-link{
		margin-bottom: 8px;
		&:hover{
			background: $brand;
			color: white;
			border-radius: 0;
		}
	}
}
.box-danhmuc-sp{
	.tab-custom {
		.nav-tabs{
			display: inline-block;
			margin-bottom: 24px;
		}
		.nav-link.active{
			color: white;
		}
	}
	.tab-custom .tab-content{
		margin: 0;
	}
}

	.img-sanpham{
		img{
			width: 100%;
		}
	}

.chitietgia{
	p{
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 5px;
	}
	.star{
		margin-bottom: 38px;
		display: flex;
		align-items: center;
		img{
			margin-right: 2px;
			width: 27px;
			height: 27px;
		}
		p{
			font-family: "Montserrat", sans-serif;
			font-size: 24px;
			font-weight: 700;
			color: $brand;
			
			margin: 0 8px 0 8px;
		}
		span{
			font-family: "Montserrat", sans-serif;
			font-size: 16px;
			color: $text-alpha;
		}
	}
	.btn-common-fill{
		img{
			width: 20px;
			height: 20px;
		}
	}
}
.list-mota{
	
		margin: 32px 0;
		
		li{
			text-decoration: none;
			
			position: relative;
			padding-left: 30px;
			margin-bottom: 20px;
			text-decoration: none;
			list-style: none;
			img{
				position: absolute;
				left: 0;
				top: 50%;
				width: 24px;
				height: 24px;
				transform: translateY(-50%);
			}
			span{
				font-size: 16px;
			}
		}
	
}
.chitiet-mota{
	.gia-sp{
		color: $text;
		font-size: 40px;
		font-weight: 700;
		font-family: "Montserrat", sans-serif;

	}
	p{
		font-size: 28px;
		
		font-family: "Philosopher", sans-serif;
		color: $brand;
	}
	h1{
		font-family: "Philosopher", sans-serif;
		color: $brand;
		margin-bottom: 16px;
	}
	h2{
		font-family: "Philosopher", sans-serif;
		font-size: 20px;
		font-weight: 400;
		strong{
			font-size: 20px;
			
		}
	}
	
}
.chitiet-sanpham{
	padding-bottom: 0;
	.btn-common-fill{
		&::after{
			content: "";
			font-size: 0;
			// background: url(../images/ic-sends.svg) no-repeat;
			// width: 22px;
			// height: 22px;
			
		}
		&:hover{
			background: $brand;
			opacity: .7;
			color: #fff;
		}
	}

}
.thongtin-sp{
	background: #F5F7FB;
	.tab-thongtin{
		.content-page-list{
			
			background: white;
			border-radius: 12px;
			border: 1px solid $brand;
			padding: 33px;
			p{
				margin-bottom: 10px;
			}
		}
	}
	.nav-tabs {
		justify-content: center;
		border-bottom: 0;
	}
	.nav-link{
		font-size: 16px;
		font-weight: 600;
		background: transparent;
		border: 0;
		padding: 0 15px 15px 15px;
		&:hover{
			color: $brand;
		}
		&.active{
			background: transparent;
			color: $brand;
			border-bottom: 3px solid $brand;
		}
	}
}
.tt-khoahoc{
	

	.item-news .thumnails-avatar a img{
		border-radius: 8px 8px 0 0;
	}
	
	.info-news{
		// min-height: 130px;
		background: #FFFFFF;
		box-shadow: -2px 9px 14px rgba(0, 0, 0, 0.09);
		padding: 15px 20px 20px 15px;

	}
	.title-news{
		margin-top: 0;
	}
	
}
.bg-black-header{
	background: #141414;
	position: relative;
}


.item-news {
	.info-news {
		.cate-anpha {
			.date-news{
				&::after{
					content: ' - ';
					display: inline-block;
					margin-left: 5px;
				}
			}
			.title-cate-item{
				color: #707070 ;
				line-height: 20px ;
				font-weight: 400;
			}
			
		}
		
	}
}
.list-news-fullrow{
	padding: 0;
	.item-news{
		margin-bottom: 50px;
	}
}
.kienthuc-chuyennganh{
	background: $bg;
	.lagre-news{
		img{
			border-radius: 8px 0 0 8px !important;
		}
		.col-md-6{
			&:last-child{
				border: 1px solid $border;
				background: white;
				border-radius: 0 8px 0 0;
				height: 100%;
				padding-left: 15px;
			}
		}
	}
}
.title-blogs{
 text-align: left;
  h2{
	display: flex;
    align-items: center;
	&::after{
		content:'\e5e1';
		font-family: 'Material Symbols Outlined';
		font-size: 24px;
		color: $text;
		margin-left: 10px;
	 }
  }
 .line-title{
	display: none;
 }
}
.baochi{
	background: transparent;
}
// #popup-contacts{
// 	margin-top: 120px;
// }
.slider-dichvukhac, .chungchi-quocte{
	.owl-prev, .owl-next {
		bottom: 50%;
	}
	.owl-prev{
		position: absolute;
    	left: 0;
	}
	.owl-next{
		position: absolute;
    	right: 0;
	}
	.owl-dots{
		display: none;
	}
}
.khampha-danhmuc{
	margin-top: 40px;
	.owl-prev, .owl-next {
		bottom: 50%;
	}
	padding-bottom: 25px;
	.owl-nav{
		// display: none;
	}
	.item-news .thumnails-avatar a img{
		border-radius: 8px 8px 0 0;
	}
	background: $bg;
	h2{
		color: $brand;
	}
	.line-title{
		display: none;
	}
	.info-news{
		text-align: center;
		background: white;
		padding: 20px;
		border-radius: 0 0 8px 8px;
	}
	.item-news {
		padding: 0 15px;
		.desc-news, .date-time-news, .title-news{
			display: none;
		}
		.title-cate-item{
			color: $text !important;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover{
				color: $brand!important;
			}
			&::after{
			content: '\e5e1';
				font-family: 'Material Symbols Outlined';
				font-size: 18px;
				color: #464646;
				margin-left: 10px;
				}
		}
	}
	
}
.baiviet-lienquan{
	margin-top: 66px;
	.title-ss{
		text-align: left;
		margin-bottom: 14px;
		h1{
			font-size: 16px;
		}
	}
	.item-news .info-news .title-cate-item{
		font-size: 12px;
		
	}
	.item-news .title-news a{
		font-size: 16px;
	}
	.date-time-news span {
		font-size: 14px;
	}
	.item-news .info-news{
		padding-top: 8px;
	}
	.item-news{
		margin-bottom: 40px;
	}
	.item-news .title-news{
		-webkit-line-clamp: inherit;
	}
}
.list-tags-news {
	margin: 32px 0;
	span{
		color: $text;
		font-size: 16px;
		margin-right: 10px;
	}
	a{
		background: $bg;
		border-radius: 30px;
		color: $brand;
		font-size: 16px;
		padding: 2px 15px;
		line-height: 28px;
		margin: 5px;
		display: inline-block;
	}
}
.tacgia{
	color: white;
	background: $brand;
	padding: 24px;
	border-radius: 8px;
	padding-left: 180px;
    margin: 0 0 32px 0;
    position: relative;
    display: inline-block;
    width: 100%;
	.thumnails-avatar{
		position: absolute;
		left: 15px;
		top: 50%;
		width: 135px;
		height: 135px;
		transform: translateY(-50%);
		a{
			padding-top: 100%;
		}
	}
	.thongtin-tacgia{
		span{
			font-size: 14px;
			font-weight: 700;
		}
		h6{
			font-size: 24px;
			font-family: "Philosopher", sans-serif;
			font-weight: 700;
			margin-bottom: 10px;
		}
		p{
			font-family: "Philosopher", sans-serif;
			margin-bottom: 0;
			line-height: 24px;
		}
	}
}
.reply-binhluan{
	background: #F8F8F8;
	padding: 22px;
	margin: 40px 0 32px 0;
	.thongtin-binhluan{
		input{
			height: 50px;
			padding: 20px 15px;
		}
	}
}
.binhluan-deault{
	margin-bottom: 24px;
	display: flex;
    
    width: 100%;
	border-bottom: 1px solid $border;
	padding-bottom: 24px;
	&:nth-last-child(2){
		border-bottom: 0;
	}

.box-right{
	width: 80%;
	.time{
		color: $brand;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	p{
		line-height: 24px;
		font-size: 16px;
		font-family: "Montserrat", sans-serif;
		font-weight: 400;
		
	}
}
.avatar-cmt{
	width: 20%;
	img{
		height: 60px;
	}
	p{
		font-size: 13px;
		font-weight: 700;
		font-family: "Montserrat", sans-serif;
		margin-top: 10px;
		text-align: left;
		padding-right: 20px;
		color: $brand;
	}
	
}
.social{
		display: flex;
		align-items: center;
	.like{
		
		display: flex;
		align-items: center;
		margin-right: 20px;
		&::before{
			content: "\e8dc";
		font-size: 20px;
		font-family: 'Material Symbols Outlined';
		margin-right: 7px;
		}
		span{
			font-size: 16px;
		}
		p{
			font-size: 16px;
			margin-left: 7px;
			margin-bottom: 0;
		}
	}
	.reply{
		display: flex;
		align-items: center;
		&::before{
			content: "\f4f6";
			font-size: 20px;
			font-family: 'Material Symbols Outlined';
			margin-right: 7px;
		}
		span{
			font-size: 16px;
		}
		p{
			font-size: 16px;
			margin-left: 7px;
			margin-bottom: 0;
		}
	}
	
		
}
}
.binhluan-moi{
	margin-bottom: 24px;
	display: flex;
    
    width: 100%;
	border-bottom: 1px solid $border;
	padding-bottom: 24px;
	
.label{
	font-size: 16px;
	margin-bottom: 10px;
}
.btn-common-fill{
	&::before{
		display: none;
	}
	min-width: inherit;
	border-radius: 8px;
	height: 50px;
}
.box-right{
	width: 80%;
}
.avatar-cmt{
	width: 20%;
	img{
		height: 60px;
	}
	p{
		font-size: 14px;
		font-weight: 700;
		font-family: "Montserrat", sans-serif;
		margin-top: 10px;
		text-align: left;
		padding-right: 20px;
		color: $brand;
	}
	
}
.thongtin-binhluan{
	display: flex;
    align-items: flex-end;
	justify-content: space-between;
	margin-top: 40px;
	.form-group {
		margin-bottom: 0;
		width: 25%;
		input{
			height: 50px;
			&::placeholder{
				font-size: 14px;
			}
		}
	}
}
}

.binhluan{
	border: 1px solid $border;
	border-radius: 8px;
	padding: 24px;
	p{
		font-size: 28px;
		font-weight: 700;
		font-family: "Philosopher", sans-serif;
		span{
			font-size: 28px;
			font-weight: 400;
			font-family: "Montserrat", sans-serif;
		}
	}
}
.alert-noti{
	z-index: 123;
	top: 180px;
    position: fixed;
    right: 20px;
    width: fit-content;
    background: $brand;
    border-radius: 8px;
    padding: 15px 15px 15px 35px;
	img{
		position: absolute;
		left: 10px;
		top: 50%;
		width: 20px;
		height: 20px;
		transform: translateY(-50%);
	}
	span{
		font-size: 16px;
		color: white;
	}
}
.lagre-news{
	.desc-news{
		@include webkit-line-clamp();
	}
}
.list-tags{
	.title-ss{
		text-align: left;
	}
	.lagre-news{
		max-width: 100%;
		border: 0;
		background: transparent;
		padding-left: 265px;
		min-height: 160px;
		display: inherit;
		margin-bottom: 40px;
		.title-news {
			margin: 0 0 6px 0;
			a{
				font-size: 20px;
				line-height: 27px;
			}
		}
		
		.thumnails-avatar{
			width: 240px;
			a{
				padding-top: 65%;
			}
		}
	}
}
.menu-cate{
	margin-bottom: 16px;
	ul{
		list-style: none;
		display: flex;
		align-items: center;
		
		li{
			display: flex;
			align-items: center;
			a{
				color: $brand;
				font-size: 14px;
			}
		}
	}
	
}
.menu-cate li + li::before{
	content: "\e409";
	color: #707070;
	font-size: 20px;
	font-family: 'Material Symbols Outlined';
	margin: 0 10px;
}
.desc-news{
	font-size: 14px;
}
// khach hang
.bg-breadcrum{
	background: #EFEFEF;
	padding: 5px 0;
	margin-top: 0;
	.breadcrumb{
		justify-content: center;
	}
}
.page-customer{
	background: none;
	padding-bottom: 40px;
	.col-md-4{
		.box-items{
			margin: 0 0 30px 0;
		}
	}
	.readmore::after{
		content: "\e5db";
	}
}
.shares{
	font-size: 14px;
	font-weight: 700;
	display: flex;
	align-items: center;
	img{
		margin: 0 5px;
		width: 20px !important;
		height: 20px;
	}
}
#show-full-images{
	.row{
		align-items: center;
	}
	.thumnails-avatar{
		a{
			padding-top: 100%;
		}
	}

	.content{
		margin: 24px 0;
		text-align: left;
		padding-right: 40px;
		
	}
	.title{
		text-align: left;
		h4{
			font-size: 20px;
			font-family: "Philosopher", sans-serif;
			text-transform: uppercase;
			font-weight: 700;
		}
		.service{
			font-size: 16px;
			margin-bottom: 0;
		}
		
		border-bottom: 1px $border solid;
		padding-bottom: 24px;
	}
	.modal-body{
		padding: 40px 60px;
	}
}
.modal-show-full-img {
	
	.owl-dots{
		display: none;
	}
	
	button{
		height: auto;
	}
	.modal-dialog {
		max-width: 1200px;
	}
	.owl-prev, .owl-next {
		position: absolute;
		bottom: 50%;
		
	}
	.owl-next{
		right: 0;
	}
	.owl-prev{
		
		left: 0;
	}
	
}
.owl-theme .owl-nav [class*=owl-]:hover{
	opacity: 1;
}
.owl-theme .owl-nav .disabled {
    opacity: 1 !important;
}
.chuyengia{
	.row{
		margin-right: -25px;
		margin-left: -25px;
		.col-md-6{
			margin-bottom: 50px;
			padding: 0 25px;
		}
	}

	.lagre-news{
		padding-left: 260px;
    	min-height: 253px;
		max-width: 100%;
		border: 0;
		background: white;
		box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.13);
		
		.thumnails-avatar{
			width: 230px;
			a{
				padding-top: 110%;
				img{
					border-radius: 8px 0 0 8px;
				}
			}
		}
		.title-news{
			a{
				font-size: 20px;
				line-height: 24px;
				color: $text;
				text-transform: capitalize;
			}
		}
		.desc-news{
			-webkit-line-clamp: 3;
		}
		.date-time-news, .menu-cate{
			display: none;
		}
		.btn-common-line{
			&::before{
				display: none;
			}
		}
		.btn-common-line {
			&:hover{
				color: white !important;
				background: $brand !important;
			}
		}
	}
}
.banner-chuyengia{
	position: relative;
    clear: both;
    background-size: cover !important;
   	padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 447px;
	background: url(../images/bg-chuyengia.png) center top no-repeat;
	&::after{
		height: 100%;
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		z-index: 0;
		background: #313131;
		opacity: .8;
	}
	.thumnails-avatar{
		float: left;
		a{
			padding-top: 100%;
		}
	}
	.container{
		max-width: 80%;
	}
	.row{
		
		align-items: center;
		z-index: 123;
		position: relative;
	}
	.btn-common-fill{
		&::before{
			display: none;
		}
	}
	.content{
		color: white;
		position: relative;
		z-index: 123;
		h2{
			font-size: 48px;
			font-family: "Philosopher", sans-serif;
			margin-bottom: 18px;
		}
		p{
			font-size: 20px;
			margin-bottom: 40px;
		}
	}
}
.chitiet-chuyengia{
	max-width: 60%;
    margin: 0 auto;
	border-bottom: 1px solid $border;
	.btn-common-fill{
		&::before{
			display: none;
		}
	}
	.btn-bottomm{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.share-social{
		display: flex;
		align-items: center;
		span{
			font-size: 16px;
			margin-right: 5px;
		}
		img{
			margin: 0 5px;
		}
	}
	p{
		text-align: justify;
	}
}
.danhmuc-dichvu{
	.item-news{
		margin-bottom: 50px;
		.title-cate-item{
			display: none;
		}
		.title-news  {
			min-height: 100%;
			a{
				text-transform: uppercase;
			}
		}
		.desc-news{
			-webkit-line-clamp: 5;
		}
		.date-time-news{
			display: none;
		}
	}
}
.chitiet-dichvu{
	padding-bottom: 0;
	.noidung-chitietdichvu{
		
		h1{
			text-transform: uppercase;
			font-family: "Philosopher", sans-serif;
		}
	}
	.container{
		border-bottom: 1px solid $border;
		padding-bottom: 40px;
	}
}
.dichvukhac{
	.title-ss{
		text-align: left;
		border-bottom: 3px solid $brand;
		padding-bottom: 15px;
		margin-bottom: 24px;
		h1{
			font-size: 20px;
		}
	}
	.item-news{
		padding-left: 160px;
		min-height: 70px;
		position: relative;
		min-height: 100px;
		margin-bottom: 20px;
			.thumnails-avatar{
				width: 145px;
				position: absolute;
				left: 0;
				top: 0;
				a{
					padding-top: 70%;
				}
			}
		.desc-news, .title-cate-item, .date-time-news {
			display: none;
		}
		.title-news{
			-webkit-line-clamp: 3;
			min-height: inherit;
			a{
				font-size: 18px;
			}
		}
		.info-news{
			padding-top: 0;
		}
	
	}
	
}
.sanpham-goiy{
		
	.owl-prev, .owl-next {
		bottom: 50%;
	}
	.item-news{
		// margin-bottom: 50px;
		padding: 0 25px;
		text-align: center;
		.title-cate-item{
			display: none;
		}
		.title-news  {
			min-height: inherit;
			
			a{
				text-transform: uppercase;
			}
		}
		.desc-news{
			-webkit-line-clamp: 3;
		}
		.date-time-news{
			display: none;
		}
	}
	
	h2{
		text-align: left;
	}
	.line-title{
		display: none;
	}
}
// gioi thieu
#show-full-images-certificate{
	.owl-nav{
		display: block;
		margin-top: 0;
	}
	.modal-body{
		padding: 40px;
		img{
			margin: 0;
		}
		
	}
	.owl-dots{
		display: none;
	}
	.owl-prev{
		bottom: 50%;
		position: absolute;
		left: 0;
	}
	.owl-next{
		bottom: 50%;
		position: absolute;
		right: 0;
	}
}
.gioi-thieu{
	.line-title{
		display: none;
	}
	.tab-custom .nav-tabs .nav-link.active{
		color: white;
		
		border: 1px solid $brand !important;
	}
	.nav-link{
		margin: 0 5px;
		border: 1px solid $border !important;
		border-radius: 50px !important;
		padding: 16px 24px !important;
	}
	.nav-tabs{
		padding-bottom: 32px;
	}
	.row{
		align-items: center;
	}
	
	.tab-intro{
		list-style: none;
		display: flex;
		justify-content: center;
		a{
			margin: 0 5px;
			color: $text;
			border-radius: 50px;
			padding: 16px 24px;
			background: white;
			font-size: 16px;
			font-weight: 700;
			border: 1px solid $border;
			&:hover{
				background: $brand;
				border: 1px solid $brand;
				color: white;
				transition: all .3s ease-in-out;
			}
		}
		
		
	}
}
#lieuphap{
	// padding-top: 0;
	
		h2{
			font-family: "Philosopher", sans-serif;
			text-align: left;
			font-size: 24px;
			// padding-right: 90px;
			margin-bottom: 16px;
		}
	
			.line-title{
				background: $brand;
				width: 45px;
				height: 3px;
				margin: 0;
				margin-bottom: 16px;
			}
	
	
}
#lichsu{
	.line-title{
		display: none;
	}
	position: relative;
    clear: both;
    background-size: cover !important;
    // padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 447px;
    background: url(../images/bg-lichsu.jpeg) center top no-repeat;
	&::after{
		height: 100%;
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		z-index: 0;
		background: #313131;
		opacity: .8;
	}
	.container{
			position: relative;
			z-index: 999;
	}
	.title-ss{
		h1{
			color: white;
		}
	}
	.tab-content{
		margin: 0;
	}
	.tab-custom .nav-tabs .nav-link.active{
		background: transparent;
		border-radius: 0;
		color: $brand;
		border-bottom: 3px solid $brand;
	}
		.tab-custom{
			
			color: white;
			.nav-item{
				margin-bottom: 0;
			}
			nav{
				border-bottom: 3px solid white;
				.nav-tabs{
					margin-bottom: -3px;
					justify-content: flex-start;
					.nav-link{
						font-family: "Philosopher", sans-serif;
						color: white;
						border: inherit;
						padding: 10px 32px;
						font-size: 22px;
						font-weight: 700;
						background: transparent;
					}
					
				}
			}
		}
	.content-page-list{
		margin-top: 40px;
		h3{
			margin-bottom: 20px;
			font-size: 32px;
			color: $brand;
			font-family: "Philosopher", sans-serif;
		}
	}
	
}
.chungchi-quocte{
	.chung-chi{
		margin:  15px;
	}
	.thumnails-avatar{
		box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.08);
		a{
			padding-top: 150%;
			
		}
	}
}
.action-btn{
	display: none;
	bottom: 100px;
	position: fixed;
	right: 30px;
	z-index: 999;
   
}
.action-btn{
    z-index: 12 !important;
}
.coccoc-alo-ph-circle {
	width: 70px;
    height: 70px;
    top: 60px;
    left: 60px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid $brand;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-phone {
    background-color: transparent;
    width: 90px;
    height: 90px;
    margin-right: 30px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 150px;
    top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: $brand;
    opacity: .6 !important;
}

.coccoc-alo-ph-circle-fill {
	width: 70px;
    height: 70px;
    top: 60px;
    left: 60px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.img-phone{
    .coccoc-alo-ph-img-circle{
        background: $brand url(../images/calendar_month.svg) no-repeat center center;
    }
}

.coccoc-alo-ph-img-circle {
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: $brand url(../images/tuvan-mb.svg) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
   
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: $brand;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: $brand;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: $brand;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: $brand;
    opacity: .75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: $brand;
}

@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}