@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Philosopher", sans-serif; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #464646;
  padding: 0;
  margin: 0; }

h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 32px;
  font-weight: 700; }
  h1 a, h1 b, h1 strong, h1 p, h1 label {
    font-size: 32px;
    font-weight: 700; }

h2 {
  font-size: 26px;
  font-weight: 700; }
  h2 a, h2 b, h2 strong, h2 p, h2 label, h2 span {
    font-size: 26px;
    font-weight: 700; }

h3 {
  font-size: 22px;
  font-weight: 700; }
  h3 a, h3 b, h3 strong, h3 p, h3 label, h3 span {
    font-size: 22px;
    font-weight: 700; }

h4 {
  font-size: 20px;
  font-weight: 700; }
  h4 a, h4 b, h4 strong, h4 p, h4 label, h4 span {
    font-size: 20px;
    font-weight: 700; }

h5 {
  font-size: 18px;
  font-weight: 700; }
  h5 a, h5 b, h5 strong, h5 p, h5 label, h5 span {
    font-size: 18px;
    font-weight: 700; }

h6 {
  font-size: 18px;
  font-weight: 700; }
  h6 a, h6 b, h6 strong, h6 p, h6 label, h6 span {
    font-size: 18px;
    font-weight: 700; }

p, strong, b, i {
  font-size: 16px; }

span {
  font-size: 13px; }

label {
  font-size: 14px; }

a {
  color: #464646; }
  a:hover {
    text-decoration: none; }

.container {
  max-width: 1300px; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

section {
  padding: 40px 0; }
  section.ss-2 {
    padding: 0 0 60px 0; }
  section.ss-3 {
    margin-top: 40px;
    padding: 60px 0 0 0; }

.btn-center {
  margin-top: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; }

.btn-right {
  margin-top: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: right; }

.btn-left {
  margin-top: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left; }

.title-ss {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 40px; }
  .title-ss h1 {
    font-size: 32px;
    font-family: "Philosopher", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 700; }
    .title-ss h1 a:hover {
      color: #464646; }
  .title-ss p {
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px; }
  .title-ss .line-title {
    background: #D0A543;
    width: 45px;
    height: 3px;
    margin: 24px auto 0 auto; }

.thumnails-avatar {
  display: inline-block;
  width: 100%; }
  .thumnails-avatar a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .thumnails-avatar a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.ellipsis {
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.modal-header .close {
  position: absolute;
  right: 30px;
  font-size: 30px;
  padding: 8px;
  color: #757575;
  opacity: 1;
  background: #d9d9d9;
  text-shadow: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  top: 30px !important;
  z-index: 9999; }

.modal-dialog {
  max-width: 700px; }

.modal-body {
  padding: 0; }

.modal-content {
  margin: 0;
  background-color: white;
  width: 100%; }

.form-contact p {
  max-width: 50%;
  margin: 0 auto 35px auto; }

.modal-header .close:before {
  content: "\e5cd";
  color: #D0A543;
  font-size: 24px;
  font-family: 'Material Symbols Outlined'; }

.modal-header {
  padding: 0;
  border-bottom: 0; }

header .menu nav ul li.active a {
  color: #D0A543; }

.list-mota li {
  text-decoration: none;
  list-style: none; }

footer {
  background: #313131;
  color: white;
  padding: 32px 0; }
  footer a {
    color: white; }
  footer h2 {
    margin: 16px 0 4px 0;
    text-transform: uppercase;
    font-family: "Philosopher", sans-serif; }
  footer .logo {
    height: 60px; }
  footer .box-left {
    display: inline-block;
    width: 100%; }
    footer .box-left h5 {
      margin: 20px 0 8px 0;
      color: #464646;
      text-transform: uppercase; }
    footer .box-left span {
      font-size: 18px; }
  footer .box-right {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between; }
    footer .box-right .address-footer h6 {
      font-family: "Philosopher", sans-serif;
      color: #D0A543;
      margin-bottom: 24px; }
  footer .address-footer {
    display: inline-block;
    width: 100%;
    padding: 0 15px; }
    footer .address-footer a {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      margin-bottom: 6px;
      line-height: 28px; }
      footer .address-footer a:hover {
        color: #D0A543; }
  footer .adress-content {
    display: inline-block;
    width: 100%;
    margin-top: 20px; }
    footer .adress-content a {
      color: #D0A543;
      font-size: 18px;
      font-weight: 500; }
  footer .item-adress-content {
    float: left;
    margin-right: 15px;
    margin-bottom: 16px;
    font-size: 16px; }
    footer .item-adress-content a:hover {
      color: #D0A543; }
    footer .item-adress-content img {
      margin-right: 4px; }
  footer .social-footer .item-flex {
    padding-left: 30px;
    margin-bottom: 16px; }
    footer .social-footer .item-flex p {
      margin-bottom: 0;
      font-size: 14px; }
  footer .desreption-footer {
    border-top: 1px solid #464646;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px; }
    footer .desreption-footer p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 28px; }
    footer .desreption-footer img {
      height: 42px; }

button {
  border: 0; }
  button:focus {
    outline: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: unset; }

.btn-common-fill,
.btn-common-line,
input[type=button],
input[type=submit], .btn-common-fill2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D0A543;
  padding: 14px 28px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  color: white;
  height: 55px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  min-width: 160px;
  width: fit-content;
  border: 1px solid #D0A543; }
  .btn-common-fill:hover,
  .btn-common-line:hover,
  input[type=button]:hover,
  input[type=submit]:hover, .btn-common-fill2:hover {
    border: 1px solid #D0A543;
    background: transparent;
    opacity: 1;
    color: #D0A543; }
  .btn-common-fill i,
  .btn-common-fill img, .btn-common-fill svg,
  .btn-common-line i,
  .btn-common-line img,
  .btn-common-line svg,
  input[type=button] i,
  input[type=button] img,
  input[type=button] svg,
  input[type=submit] i,
  input[type=submit] img,
  input[type=submit] svg, .btn-common-fill2 i,
  .btn-common-fill2 img, .btn-common-fill2 svg {
    margin-left: 8px;
    width: 16px; }
  .btn-common-fill::before,
  .btn-common-line::before,
  input[type=button]::before,
  input[type=submit]::before, .btn-common-fill2::before {
    content: "\ebcc";
    font-size: 24px;
    font-family: 'Material Symbols Outlined';
    margin-right: 8px; }

.btn-common-fill {
  color: white;
  font-family: "Montserrat", sans-serif; }

.btn-common-line {
  font-family: "Montserrat", sans-serif;
  background-color: transparent !important;
  color: #D0A543 !important;
  border: 1px solid #D0A543 !important; }

.modal-dialog {
  display: flex;
  align-items: center;
  padding: 0 15px; }

header {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: top 0.3s;
  padding: 10px 50px;
  background: linear-gradient(180deg, #000000 0%, rgba(217, 217, 217, 0) 100%); }
  header.menu-scroll {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    position: fixed;
    left: 0;
    top: 0;
    background: #141414 !important;
    z-index: 1024; }
  header .top-head {
    display: flex;
    align-items: center; }
    header .top-head .language-box {
      margin: 0 20px; }
      header .top-head .language-box img {
        height: 24px;
        cursor: pointer;
        margin-right: 0; }
      header .top-head .language-box ul {
        position: absolute;
        left: -15px;
        top: 10px;
        width: 100px;
        display: inline-block;
        padding-top: 30px;
        opacity: 0;
        visibility: hidden;
        z-index: 2; }
        header .top-head .language-box ul li {
          opacity: 1 !important;
          display: inline-block;
          width: 100%;
          text-align: left; }
          header .top-head .language-box ul li a {
            background: white;
            padding: 15px;
            box-shadow: -1px -1px 7px rgba(0, 0, 0, 0.13);
            border-radius: 5px;
            color: #212529;
            width: 100%;
            display: inline-block;
            opacity: 1 !important; }
            header .top-head .language-box ul li a img {
              height: 24px;
              margin-right: 0; }
            header .top-head .language-box ul li a:hover {
              opacity: 1 !important;
              color: #D0A543; }
      header .top-head .language-box:hover {
        cursor: pointer; }
        header .top-head .language-box:hover ul {
          opacity: 1;
          visibility: initial; }
  header .content-head {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header .menu nav ul li.active a svg path {
    fill: #D0A543; }
  header .menu nav ul li a svg {
    margin-top: 2px; }
  header .menu nav ul li.no-sub {
    padding: 0 16px; }
  header .menu {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: left; }
    header .menu nav ul {
      padding: 0;
      display: flex;
      justify-content: left;
      margin-bottom: 0; }
      header .menu nav ul li {
        position: relative;
        list-style: none;
        padding: 0 24px; }
        header .menu nav ul li::before {
          content: "\e313";
          color: white;
          font-size: 24px;
          font-family: 'Material Symbols Outlined';
          position: absolute;
          right: 0;
          top: 0;
          z-index: 3; }
        header .menu nav ul li.no-sub::before {
          display: none; }
        header .menu nav ul li i {
          display: none; }
        header .menu nav ul li a {
          padding: 0;
          position: relative;
          font-size: 20px;
          font-family: "Philosopher", sans-serif;
          color: white;
          display: flex;
          align-items: center;
          font-weight: 700; }
        header .menu nav ul li ul {
          position: absolute;
          width: 330px;
          left: 15px;
          top: 32px;
          border-radius: 0 0 4px 4px;
          border-top: 2px solid #D0A543;
          opacity: 0;
          visibility: hidden;
          background: white;
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
          padding: 12px 24px 12px 24px;
          -webkit-transition: all .5s ease;
          transition: all .5s ease;
          -webkit-transform: translateY(10px);
          transform: translateY(10px);
          display: inline-block; }
          header .menu nav ul li ul li {
            padding: 0; }
            header .menu nav ul li ul li::before {
              display: none; }
            header .menu nav ul li ul li a {
              display: inline-block;
              width: 100%;
              font-weight: 400;
              transition: all 0.3s linear;
              transition: 0.5s;
              padding: 12px 0;
              font-size: 18px;
              color: #464646;
              border-bottom: 0;
              font-family: "Philosopher", sans-serif; }
              header .menu nav ul li ul li a::before {
                display: none; }
              header .menu nav ul li ul li a:hover {
                padding-left: 0;
                border-radius: 0;
                color: #707070; }
            header .menu nav ul li ul li:last-child a {
              border-bottom: 0; }
        header .menu nav ul li:hover::before {
          color: #D0A543; }
        header .menu nav ul li:hover a {
          color: #D0A543; }
        header .menu nav ul li:hover ul {
          opacity: 1;
          visibility: initial; }
          header .menu nav ul li:hover ul li a {
            color: #464646; }
            header .menu nav ul li:hover ul li a:hover {
              color: #D0A543; }
        header .menu nav ul li.active::before {
          color: #D0A543; }
        header .menu nav ul li.active a {
          color: #D0A543; }
        header .menu nav ul li.active ul li a {
          color: #464646; }
          header .menu nav ul li.active ul li a.active {
            color: #D0A543; }
  header .btn-search-mb {
    display: none; }
  header .search-head {
    background: white;
    display: none;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.03);
    border: 1px solid #DFDFDF;
    padding-left: 100px; }
    header .search-head:hover {
      border: 1px solid #D0A543; }
    header .search-head .container {
      max-width: 600px;
      position: relative; }
    header .search-head .ti-close::before {
      content: "\e5cd";
      font-family: 'Material Symbols Outlined';
      font-size: 24px;
      color: #757575;
      font-style: normal; }
    header .search-head .ti-close {
      position: absolute;
      right: 60px;
      top: 20px;
      cursor: pointer;
      color: #707070;
      padding: 10px;
      border-radius: 0 2px 2px 0; }
    header .search-head button {
      border: 0;
      position: absolute;
      left: 60px;
      top: 30px;
      font-size: 20px;
      color: #606060;
      background: transparent; }
    header .search-head .btn-ti-search::before {
      content: "\e8b6";
      font-family: 'Material Symbols Outlined';
      font-size: 24px;
      color: #757575;
      font-style: normal; }
  header .btn-search-mb {
    display: block;
    margin-right: 0;
    padding: 10px;
    border: 1px solid #D0A543;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    header .btn-search-mb .ic-search {
      color: #959FAB; }
      header .btn-search-mb .ic-search::before {
        font-size: 15px; }
  header .top-head.show-search-mb .search-head {
    display: block;
    z-index: 999; }
    header .top-head.show-search-mb .search-head i {
      border-radius: 0; }
  header .top-head.show-search-mb .close-search {
    display: block; }
  header .top-head.show-search-mb input {
    border: 0;
    border-radius: 2px;
    height: 100px;
    font-size: 18px;
    width: 100%; }
    header .top-head.show-search-mb input::placeholder {
      color: #707070;
      font-size: 18px; }
  header .top-head.show-search-mb .top-head {
    position: absolute;
    top: 15px;
    width: 100%;
    left: 0; }
  header .logo {
    float: left; }
    header .logo img {
      height: 70px; }
  header .menu-mobile {
    display: none; }
    header .menu-mobile .ti-menu {
      display: none; }
    header .menu-mobile .close-menu {
      display: none; }
  header .content-head-right {
    display: flex;
    align-items: center; }
  header .btn-header {
    display: flex;
    margin-left: 32px; }

.action-btn {
  display: none;
  bottom: 100px;
  position: fixed;
  right: 30px;
  z-index: 999; }

.action-btn {
  z-index: 12 !important; }

/*------------- Custom editor  --------------*/
.editor-body h2 {
  font-size: 26px;
  font-weight: 700; }
  .editor-body h2 a, .editor-body h2 b, .editor-body h2 strong, .editor-body h2 p, .editor-body h2 label, .editor-body h2 span {
    font-size: 26px;
    font-weight: 700; }
.editor-body h3 {
  font-size: 22px;
  font-weight: 700; }
  .editor-body h3 a, .editor-body h3 b, .editor-body h3 strong, .editor-body h3 p, .editor-body h3 label, .editor-body h3 span {
    font-size: 22px;
    font-weight: 700; }
.editor-body h4 {
  font-size: 20px;
  font-weight: 700; }
  .editor-body h4 a, .editor-body h4 b, .editor-body h4 strong, .editor-body h4 p, .editor-body h4 label, .editor-body h4 span {
    font-size: 20px;
    font-weight: 700; }
.editor-body h5 {
  font-size: 18px;
  font-weight: 700; }
  .editor-body h5 a, .editor-body h5 b, .editor-body h5 strong, .editor-body h5 p, .editor-body h5 label, .editor-body h5 span {
    font-size: 18px;
    font-weight: 700; }
.editor-body h6 {
  font-size: 18px;
  font-weight: 700; }
  .editor-body h6 a, .editor-body h6 b, .editor-body h6 strong, .editor-body h6 p, .editor-body h6 label, .editor-body h6 span {
    font-size: 18px;
    font-weight: 700; }
.editor-body p, .editor-body strong, .editor-body b, .editor-body i {
  font-size: 16px; }
.editor-body span {
  font-size: 14px; }
.editor-body label {
  font-size: 14px; }
.editor-body img {
  max-width: 100% !important;
  margin: 20px auto; }

/* --------------Checkbox-------------------- */
.form-group .form-control, .form-group .custome-select select, .form-group textarea {
  border: 1px solid #DFDFDF;
  font-size: 16px;
  padding: 20px;
  height: 60px;
  border-radius: 8px;
  color: #464646;
  display: inline-block;
  width: 100%; }
  .form-group .form-control::placeholder, .form-group .custome-select select::placeholder, .form-group textarea::placeholder {
    color: #707070; }
.form-group textarea {
  height: 88px; }

.input-custom {
  display: none; }

.label-custom {
  color: #464646;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 15px;
  font-weight: normal !important; }
  .label-custom:checked {
    color: #D0A543 !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #464646 !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #D0A543;
  border: 1px solid #D0A543; }

.input-custom:checked + .label-custom {
  color: #464646 !important; }

/* check-radio-custom */
.check-radio-custom {
  margin: 5px 0 15px 0;
  display: flex; }

.check-radio-custom [type="radio"]:checked + label {
  color: #D0A543 !important; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #464646;
  margin-bottom: 0;
  font-weight: normal; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #DFDFDF;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label::before {
  border: 1px solid #D0A543 !important; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #D0A543;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 0 20px; }

.form-control:focus {
  border-color: #D0A543;
  outline: 0;
  box-shadow: none; }

/*------------ Custom select box -------------*/
.custom-select {
  height: 60px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #DFDFDF;
  position: relative;
  padding: 0;
  background: white;
  display: flex;
  align-items: center; }

.select-items {
  overflow-y: auto !important;
  max-height: 250px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  top: 0;
  right: 40px;
  content: "\e5c5";
  color: #8C8B8D;
  font-size: 32px;
  font-family: 'Material Symbols Outlined'; }

.form-control:focus {
  border: 1px solid #D0A543 !important; }

textarea {
  height: 88px !important; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 16px;
  text-align: left; }

.select-items div {
  color: #464646; }

.select-selected.active {
  color: #464646 !important; }

.select-selected {
  color: #8C8B8D;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px; }

/* Style items (options): */
.select-items {
  padding: 15px 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  max-height: 140px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #EBF2FD; }

.img-detail img {
  width: 100%; }

/*------------- News --------------*/
.detail-cate-news .lagre-news {
  max-width: 100%;
  border: 0;
  background: transparent; }

.lagre-news {
  padding-right: 20px;
  position: relative;
  padding-left: 570px;
  min-height: 304px;
  background: white;
  border-radius: 8px;
  border: 1px solid #DFDFDF;
  max-width: 85%;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  display: flex; }
  .lagre-news .thumnails-avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 540px; }
  .lagre-news .thumnails-avatar a img {
    border-radius: 8px; }
  .lagre-news .title-cate-item {
    font-size: 16px;
    font-weight: 700;
    color: #D0A543; }
  .lagre-news .title-news {
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .lagre-news .title-news:hover {
      color: #D0A543; }
    .lagre-news .title-news a {
      font-family: "Philosopher", sans-serif;
      color: #464646;
      font-size: 32px;
      line-height: 40px; }
      .lagre-news .title-news a:hover {
        color: #D0A543; }

.item-news.big-news .title-news {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.item-news {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  width: 100%; }
  .item-news .info-news {
    padding-top: 20px;
    border-radius: 8px; }
    .item-news .info-news a span, .item-news .info-news span {
      color: #707070;
      line-height: 20px; }
    .item-news .info-news .desc-news {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 14px;
      margin-bottom: 8px; }
    .item-news .info-news .title-cate-item {
      font-weight: 700;
      font-size: 16px;
      color: #D0A543; }
  .item-news .thumnails-avatar {
    display: block; }
    .item-news .thumnails-avatar a img {
      border-radius: 8px; }
  .item-news .title-news {
    min-height: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .item-news .title-news:hover {
      color: #D0A543; }
    .item-news .title-news a {
      font-family: "Philosopher", sans-serif;
      color: #464646;
      font-size: 20px;
      line-height: 29px; }
      .item-news .title-news a:hover {
        color: #D0A543; }

.date-time-news {
  margin-bottom: 0;
  color: #707070;
  position: relative; }
  .date-time-news span {
    margin-right: 0 !important;
    font-size: 16px;
    line-height: 20px; }
  .date-time-news img {
    width: 20px;
    margin-right: 7px; }
  .date-time-news p {
    margin-left: 0;
    margin-bottom: 0; }

.block-toc__link--active {
  padding: 6px 10px;
  background: #FFFAF0;
  margin-bottom: 8px;
  border-radius: 4px;
  margin-bottom: 8px; }

.mb-35 {
  margin-bottom: 35px; }

.mt-35 {
  margin-top: 35px; }

.none-overflow {
  overflow: inherit; }

/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  z-index: 1;
  top: 100px; }

.nd-danhmuc.box-scroll {
  margin-top: 66px; }

.nd-danhmuc {
  border-radius: 8px;
  top: 120px; }
  .nd-danhmuc .show-sticky {
    top: 50px; }
  .nd-danhmuc h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px; }
  .nd-danhmuc ul {
    counter-reset: headings; }
    .nd-danhmuc ul li {
      padding-left: 0;
      list-style: none;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      background: transparent;
      border-radius: 8px;
      margin-bottom: 15px; }
      .nd-danhmuc ul li a {
        color: #464646;
        font-weight: 500;
        padding: 0;
        counter-increment: headings; }
  .nd-danhmuc .bg-light {
    background-color: transparent  !important;
    padding: 0; }
  .nd-danhmuc .nav-pills .nav-link.active, .nd-danhmuc .nav-pills .show > .nav-link {
    background-color: transparent;
    color: #D0A543; }

.noidungbaiviet {
  padding-top: 0; }
  .noidungbaiviet .date-time-news span {
    font-size: 16px; }
  .noidungbaiviet .title-headpage {
    max-width: 100%;
    text-align: center;
    font-size: 44px;
    margin: 36px auto 20px auto;
    text-align: center; }
  .noidungbaiviet .date-share-news {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 32px; }
    .noidungbaiviet .date-share-news .share-news {
      display: flex;
      align-items: center;
      margin-left: 20px; }
      .noidungbaiviet .date-share-news .share-news p {
        font-weight: 700;
        color: #D0A543;
        margin-bottom: 0;
        margin-left: 5px; }
  .noidungbaiviet .title-timedate {
    border: 1px dashed #D0A543;
    border-radius: 50px;
    width: fit-content;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .noidungbaiviet .title-timedate a {
      background: #D0A543;
      color: white;
      border-radius: 50px;
      padding: 2px 10px;
      font-size: 13px;
      line-height: 20px;
      margin-right: 6px; }
    .noidungbaiviet .title-timedate .date-time-news {
      margin-left: 5px; }

.none-overflow {
  overflow: inherit; }

.chitiet-baiviet p {
  text-align: justify;
  font-size: 16px;
  line-height: 30px; }
.chitiet-baiviet h2 {
  line-height: 38px; }

.baiviettuongtu .item-news .thumnails-avatar a img {
  border-radius: 8px 8px 0 0; }
.baiviettuongtu .item-news {
  margin-bottom: 0; }
  .baiviettuongtu .item-news .info-news {
    border-radius: 0 0 8px 8px; }

.form-group {
  margin-bottom: 20px; }

.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a.active {
    background-color: #D0A543;
    padding-top: 5px;
    border-radius: 4px;
    color: white; }
    .pagging-page ul li a.active:hover {
      color: white; }
  .pagging-page ul li a {
    display: flex;
    width: 51px;
    height: 51px;
    margin: 0 5px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #464646;
    padding: 4px;
    align-items: center;
    justify-content: center;
    font-weight: 700; }
  .pagging-page ul li:hover a {
    color: #D0A543; }
  .pagging-page ul li:hover i::before {
    color: #D0A543; }

.ti-angle-left:before {
  content: "\e408";
  color: #464646;
  font-size: 34px;
  font-family: 'Material Symbols Outlined';
  font-style: normal; }

.ti-angle-right:before {
  content: "\e409";
  color: #464646;
  font-size: 34px;
  font-family: 'Material Symbols Outlined';
  font-style: normal; }

.mt-35 {
  margin-top: 35px; }

.title-mini-item {
  font-size: 24px;
  font-weight: 400; }

i {
  font-size: 16px; }

.mb-20 {
  margin-bottom: 20px; }

.mt-20 {
  margin-top: 20px; }

.banner-pc {
  display: block; }

.banner-mb {
  display: none; }

.readmore::after {
  content: "\e5c8";
  font-size: 20px;
  font-family: 'Material Symbols Outlined';
  margin-left: 8px; }
.readmore::before {
  display: none; }

.ss-slider {
  padding: 0; }
  .ss-slider .slider-home .item-slider-home {
    position: relative; }
    .ss-slider .slider-home .item-slider-home .content-silder {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 1;
      text-align: left;
      max-width: 45%;
      left: 45px; }
      .ss-slider .slider-home .item-slider-home .content-silder p {
        font-family: "Philosopher", sans-serif;
        color: white;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px; }
      .ss-slider .slider-home .item-slider-home .content-silder span {
        color: white;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 400;
        display: inline-block; }
  .ss-slider .owl-nav {
    display: none; }
  .ss-slider .owl-dots {
    left: 0;
    margin-top: 0;
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 15px; }
  .ss-slider .owl-theme .owl-dots .owl-dot.active span, .ss-slider .owl-theme .owl-dots .owl-dot:hover span {
    background: #D0A543; }
  .ss-slider .owl-theme .owl-dots .owl-dot.active span {
    width: 57px; }
  .ss-slider .owl-theme .owl-dots .owl-dot span {
    background: white; }

.intro-bhmed {
  background: #FFFAF0; }
  .intro-bhmed .row {
    align-items: center; }
  .intro-bhmed .btn-common-fill {
    border: 1px solid white; }
  .intro-bhmed .btn-intro {
    display: flex;
    margin-top: 45px; }
    .intro-bhmed .btn-intro a {
      margin-right: 24px;
      background: white;
      color: #464646;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.08); }
      .intro-bhmed .btn-intro a::before {
        display: none; }
  .intro-bhmed h6 {
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 32px; }
  .intro-bhmed .videos {
    position: relative;
    width: 100%;
    height: 380px; }
    .intro-bhmed .videos .video-cans {
      display: inline-block;
      width: 100%;
      position: relative;
      background-size: cover !important;
      height: 380px;
      border-radius: 20px;
      cursor: pointer; }
      .intro-bhmed .videos .video-cans img {
        width: 100%; }
    .intro-bhmed .videos .close-bg-video {
      position: absolute;
      right: -50px;
      top: -10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      font-weight: normal;
      border: 0;
      font-size: 20px;
      outline: none;
      z-index: 9999999;
      background-color: white; }
    .intro-bhmed .videos .current_page_item a {
      color: #D0A543; }
    .intro-bhmed .videos .overlay {
      width: 100%;
      margin: 0 auto;
      height: 380px;
      display: none; }
      .intro-bhmed .videos .overlay._active {
        display: block; }
        .intro-bhmed .videos .overlay._active iframe {
          width: 100%;
          height: 380px; }
  .intro-bhmed .ic-play {
    position: absolute;
    bottom: 130px;
    left: 0;
    right: 0;
    text-align: center; }

.why-choose-us {
  background: url(../images/bg-whychooseus.png) center top no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 0; }
  .why-choose-us .title-ss h1 {
    color: white; }

.item-flex {
  position: relative;
  padding-left: 80px;
  margin-bottom: 45px;
  color: white; }
  .item-flex .number {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
    .item-flex .number .bg-number {
      font-family: "Philosopher", sans-serif;
      font-size: 30px;
      background: #D0A543;
      border-radius: 50%;
      display: flex;
      width: 65px;
      height: 65px;
      text-align: center;
      padding: 5px 15px;
      align-items: center;
      justify-content: center; }
  .item-flex p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px; }

.list-serviess .owl-dots {
  display: none; }
.list-serviess .owl-next {
  bottom: 50%;
  position: absolute;
  right: 0; }
.list-serviess .owl-prev {
  bottom: 50%;
  position: absolute;
  left: 0; }

.owl-nav {
  display: inline-block;
  width: 100%; }
  .owl-nav .owl-next, .owl-nav .owl-prev {
    background: #6b6b6b !important;
    color: white !important;
    border: none !important;
    padding: 0 !important;
    width: 45px;
    height: 45px;
    border-radius: 50px !important; }
    .owl-nav .owl-next:hover, .owl-nav .owl-prev:hover {
      background: #D0A543 !important; }
  .owl-nav span {
    line-height: 28px;
    font-size: 32px; }

.box-items {
  position: relative;
  margin: 0 15px; }
  .box-items .thumnails-avatar a {
    padding-top: 100%; }
  .box-items .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 40px 0 40px;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
    .box-items .content h5 {
      margin-bottom: 0; }
      .box-items .content h5 a {
        font-size: 30px;
        font-family: "Philosopher", sans-serif;
        color: white;
        text-transform: uppercase; }
    .box-items .content .line {
      border-bottom: 4px solid #D0A543;
      margin-top: 24px; }
    .box-items .content .detail-info {
      max-height: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      overflow: hidden; }
      .box-items .content .detail-info p {
        font-family: "Montserrat", sans-serif;
        color: white;
        margin: 24px 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden; }
  .box-items:hover .content {
    padding-bottom: 40px;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
  .box-items:hover .detail-info {
    max-height: 300px; }

.item-product {
  padding: 20px;
  background: white;
  border-radius: 12px;
  margin-bottom: 30px; }
  .item-product:hover {
    box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.09);
    transition: all .3s ease-in-out; }
    .item-product:hover .btn-common-line {
      border: 1px solid #D0A543 !important; }
    .item-product:hover h5 a {
      color: #D0A543; }
  .item-product .thumnails-avatar a {
    padding-top: 70%; }
  .item-product .info-product h3 {
    color: #464646;
    text-transform: uppercase;
    text-align: center;
    margin: 24px 0 16px 0;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
    min-height: 60px; }
    .item-product .info-product h3 a {
      font-size: 20px; }
      .item-product .info-product h3 a:hover {
        color: #D0A543; }
  .item-product .info-product ul {
    min-height: 300px; }
    .item-product .info-product ul li {
      position: relative;
      padding-left: 32px;
      margin-bottom: 24px;
      text-decoration: none;
      list-style: none;
      font-weight: 500; }
      .item-product .info-product ul li img {
        position: absolute;
        left: 0;
        top: 50%;
        width: 20px;
        height: 20px;
        transform: translateY(-50%); }
      .item-product .info-product ul li span {
        color: #707070;
        font-size: 16px; }
  .item-product .btn-common-line {
    margin: 0 auto;
    border: 1px solid #fff !important; }

.btn-action a:hover {
  border: 1px solid #D0A543; }

.btn-action {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 30px; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }

.list-customer {
  background: url(../images/bg-customer.png) center top no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 0; }
  .list-customer .owl-next, .list-customer .owl-prev {
    bottom: 50%; }
  .list-customer .box-items {
    margin-bottom: 30px; }
    .list-customer .box-items .content {
      padding: 40px 40px 20px 40px;
      text-align: center; }
      .list-customer .box-items .content h5 a {
        color: #D0A543;
        font-size: 20px; }
      .list-customer .box-items .content .line {
        display: none; }
      .list-customer .box-items .content .detail-info {
        max-height: inherit;
        overflow: inherit; }
        .list-customer .box-items .content .detail-info p {
          font-weight: 500;
          margin: 8px 0 0 0; }
    .list-customer .box-items:hover .content {
      height: inherit; }

.list-news-home .item-news .title-news {
  min-height: 100%; }
.list-news-home .btn-action {
  margin-top: 0; }
.list-news-home .row {
  align-items: center; }
.list-news-home .title-news {
  margin-top: 0; }
  .list-news-home .title-news a {
    margin-bottom: 0; }
.list-news-home .news-left {
  min-height: 195px;
  padding-right: 320px;
  margin: 0 0 30px 0;
  position: relative;
  display: inline-block;
  width: 100%; }
  .list-news-home .news-left .info-news {
    padding-top: 0;
    box-shadow: none; }
  .list-news-home .news-left .thumnails-avatar {
    position: absolute;
    right: 15px;
    top: 0;
    width: 300px; }
    .list-news-home .news-left .thumnails-avatar a {
      padding-top: 65%; }
.list-news-home .news-right {
  padding-left: 60px;
  margin: 15px 0;
  position: relative;
  display: inline-block;
  width: 100%; }
  .list-news-home .news-right .info-news {
    padding: 0; }
  .list-news-home .news-right .stt-news {
    font-size: 30px;
    color: #D0A543;
    line-height: initial;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Philosopher", sans-serif; }
.list-news-home .item-news .info-news .desc-news {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.modal-body {
  text-align: center;
  padding: 40px; }

.contact-section h2 {
  margin-bottom: 10px; }
.contact-section span {
  font-size: 16px;
  max-width: 80%;
  margin: 0 auto;
  display: inline-block; }
.contact-section .btn-action {
  text-align: right; }
.contact-section .title-ss {
  margin-bottom: 32px; }

.breadcrumb-box {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
  .breadcrumb-box .breadcrumb-icon-home img {
    height: 20px;
    margin-bottom: 2px; }
  .breadcrumb-box nav ol {
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
    background: none;
    display: flex;
    align-items: center;
    padding-top: 0; }
    .breadcrumb-box nav ol .breadcrumb-item {
      color: #707070; }
      .breadcrumb-box nav ol .breadcrumb-item a {
        font-size: 14px;
        line-height: 20px; }
  .breadcrumb-box .breadcrumb-item + .breadcrumb-item {
    display: flex;
    padding-left: 0.5rem;
    font-size: 14px;
    align-items: center; }
    .breadcrumb-box .breadcrumb-item + .breadcrumb-item::before {
      content: "\e409";
      color: #707070;
      font-size: 20px;
      font-family: 'Material Symbols Outlined'; }
  .breadcrumb-box .breadcrumb-item + .breadcrumb-item a {
    color: #707070; }

/* --------------------------- Custom tab content ------------------------------- */
.tab-custom .tab-content {
  margin: 20px 20px 0 10px; }
.tab-custom .nav-tabs {
  border: 0;
  display: flex;
  overflow-x: scroll;
  height: auto;
  white-space: nowrap;
  width: 100%;
  flex-wrap: unset;
  justify-content: center; }
  .tab-custom .nav-tabs .nav-link {
    color: #464646;
    border: 0;
    padding: 16px;
    font-size: 16px;
    font-weight: 700; }
    .tab-custom .nav-tabs .nav-link.active {
      background-color: #D0A543;
      border-radius: 0;
      color: #D0A543; }

.danhmuc-sanpham {
  padding-top: 34px; }
  .danhmuc-sanpham .tab-custom .nav-tabs .nav-link {
    margin-bottom: 8px; }
    .danhmuc-sanpham .tab-custom .nav-tabs .nav-link:hover {
      background: #D0A543;
      color: white;
      border-radius: 0; }

.box-danhmuc-sp .tab-custom .nav-tabs {
  display: inline-block;
  margin-bottom: 24px; }
.box-danhmuc-sp .tab-custom .nav-link.active {
  color: white; }
.box-danhmuc-sp .tab-custom .tab-content {
  margin: 0; }

.img-sanpham img {
  width: 100%; }

.chitietgia p {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px; }
.chitietgia .star {
  margin-bottom: 38px;
  display: flex;
  align-items: center; }
  .chitietgia .star img {
    margin-right: 2px;
    width: 27px;
    height: 27px; }
  .chitietgia .star p {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #D0A543;
    margin: 0 8px 0 8px; }
  .chitietgia .star span {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #707070; }
.chitietgia .btn-common-fill img {
  width: 20px;
  height: 20px; }

.list-mota {
  margin: 32px 0; }
  .list-mota li {
    text-decoration: none;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    list-style: none; }
    .list-mota li img {
      position: absolute;
      left: 0;
      top: 50%;
      width: 24px;
      height: 24px;
      transform: translateY(-50%); }
    .list-mota li span {
      font-size: 16px; }

.chitiet-mota .gia-sp {
  color: #464646;
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif; }
.chitiet-mota p {
  font-size: 28px;
  font-family: "Philosopher", sans-serif;
  color: #D0A543; }
.chitiet-mota h1 {
  font-family: "Philosopher", sans-serif;
  color: #D0A543;
  margin-bottom: 16px; }
.chitiet-mota h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  font-weight: 400; }
  .chitiet-mota h2 strong {
    font-size: 20px; }

.chitiet-sanpham {
  padding-bottom: 0; }
  .chitiet-sanpham .btn-common-fill::after {
    content: "";
    font-size: 0; }
  .chitiet-sanpham .btn-common-fill:hover {
    background: #D0A543;
    opacity: .7;
    color: #fff; }

.thongtin-sp {
  background: #F5F7FB; }
  .thongtin-sp .tab-thongtin .content-page-list {
    background: white;
    border-radius: 12px;
    border: 1px solid #D0A543;
    padding: 33px; }
    .thongtin-sp .tab-thongtin .content-page-list p {
      margin-bottom: 10px; }
  .thongtin-sp .nav-tabs {
    justify-content: center;
    border-bottom: 0; }
  .thongtin-sp .nav-link {
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border: 0;
    padding: 0 15px 15px 15px; }
    .thongtin-sp .nav-link:hover {
      color: #D0A543; }
    .thongtin-sp .nav-link.active {
      background: transparent;
      color: #D0A543;
      border-bottom: 3px solid #D0A543; }

.tt-khoahoc .item-news .thumnails-avatar a img {
  border-radius: 8px 8px 0 0; }
.tt-khoahoc .info-news {
  background: #FFFFFF;
  box-shadow: -2px 9px 14px rgba(0, 0, 0, 0.09);
  padding: 15px 20px 20px 15px; }
.tt-khoahoc .title-news {
  margin-top: 0; }

.bg-black-header {
  background: #141414;
  position: relative; }

.item-news .info-news .cate-anpha .date-news::after {
  content: ' - ';
  display: inline-block;
  margin-left: 5px; }
.item-news .info-news .cate-anpha .title-cate-item {
  color: #707070;
  line-height: 20px;
  font-weight: 400; }

.list-news-fullrow {
  padding: 0; }
  .list-news-fullrow .item-news {
    margin-bottom: 50px; }

.kienthuc-chuyennganh {
  background: #FFFAF0; }
  .kienthuc-chuyennganh .lagre-news img {
    border-radius: 8px 0 0 8px !important; }
  .kienthuc-chuyennganh .lagre-news .col-md-6:last-child {
    border: 1px solid #DFDFDF;
    background: white;
    border-radius: 0 8px 0 0;
    height: 100%;
    padding-left: 15px; }

.title-blogs {
  text-align: left; }
  .title-blogs h2 {
    display: flex;
    align-items: center; }
    .title-blogs h2::after {
      content: '\e5e1';
      font-family: 'Material Symbols Outlined';
      font-size: 24px;
      color: #464646;
      margin-left: 10px; }
  .title-blogs .line-title {
    display: none; }

.baochi {
  background: transparent; }

.slider-dichvukhac .owl-prev, .slider-dichvukhac .owl-next, .chungchi-quocte .owl-prev, .chungchi-quocte .owl-next {
  bottom: 50%; }
.slider-dichvukhac .owl-prev, .chungchi-quocte .owl-prev {
  position: absolute;
  left: 0; }
.slider-dichvukhac .owl-next, .chungchi-quocte .owl-next {
  position: absolute;
  right: 0; }
.slider-dichvukhac .owl-dots, .chungchi-quocte .owl-dots {
  display: none; }

.khampha-danhmuc {
  margin-top: 40px;
  padding-bottom: 25px;
  background: #FFFAF0; }
  .khampha-danhmuc .owl-prev, .khampha-danhmuc .owl-next {
    bottom: 50%; }
  .khampha-danhmuc .item-news .thumnails-avatar a img {
    border-radius: 8px 8px 0 0; }
  .khampha-danhmuc h2 {
    color: #D0A543; }
  .khampha-danhmuc .line-title {
    display: none; }
  .khampha-danhmuc .info-news {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 0 0 8px 8px; }
  .khampha-danhmuc .item-news {
    padding: 0 15px; }
    .khampha-danhmuc .item-news .desc-news, .khampha-danhmuc .item-news .date-time-news, .khampha-danhmuc .item-news .title-news {
      display: none; }
    .khampha-danhmuc .item-news .title-cate-item {
      color: #464646 !important;
      display: flex;
      align-items: center;
      justify-content: center; }
      .khampha-danhmuc .item-news .title-cate-item:hover {
        color: #D0A543 !important; }
      .khampha-danhmuc .item-news .title-cate-item::after {
        content: '\e5e1';
        font-family: 'Material Symbols Outlined';
        font-size: 18px;
        color: #464646;
        margin-left: 10px; }

.baiviet-lienquan {
  margin-top: 66px; }
  .baiviet-lienquan .title-ss {
    text-align: left;
    margin-bottom: 14px; }
    .baiviet-lienquan .title-ss h1 {
      font-size: 16px; }
  .baiviet-lienquan .item-news .info-news .title-cate-item {
    font-size: 12px; }
  .baiviet-lienquan .item-news .title-news a {
    font-size: 16px; }
  .baiviet-lienquan .date-time-news span {
    font-size: 14px; }
  .baiviet-lienquan .item-news .info-news {
    padding-top: 8px; }
  .baiviet-lienquan .item-news {
    margin-bottom: 40px; }
  .baiviet-lienquan .item-news .title-news {
    -webkit-line-clamp: inherit; }

.list-tags-news {
  margin: 32px 0; }
  .list-tags-news span {
    color: #464646;
    font-size: 16px;
    margin-right: 10px; }
  .list-tags-news a {
    background: #FFFAF0;
    border-radius: 30px;
    color: #D0A543;
    font-size: 16px;
    padding: 2px 15px;
    line-height: 28px;
    margin: 5px;
    display: inline-block; }

.tacgia {
  color: white;
  background: #D0A543;
  padding: 24px;
  border-radius: 8px;
  padding-left: 180px;
  margin: 0 0 32px 0;
  position: relative;
  display: inline-block;
  width: 100%; }
  .tacgia .thumnails-avatar {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 135px;
    height: 135px;
    transform: translateY(-50%); }
    .tacgia .thumnails-avatar a {
      padding-top: 100%; }
  .tacgia .thongtin-tacgia span {
    font-size: 14px;
    font-weight: 700; }
  .tacgia .thongtin-tacgia h6 {
    font-size: 24px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    margin-bottom: 10px; }
  .tacgia .thongtin-tacgia p {
    font-family: "Philosopher", sans-serif;
    margin-bottom: 0;
    line-height: 24px; }

.reply-binhluan {
  background: #F8F8F8;
  padding: 22px;
  margin: 40px 0 32px 0; }
  .reply-binhluan .thongtin-binhluan input {
    height: 50px;
    padding: 20px 15px; }

.binhluan-deault {
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 24px; }
  .binhluan-deault:nth-last-child(2) {
    border-bottom: 0; }
  .binhluan-deault .box-right {
    width: 80%; }
    .binhluan-deault .box-right .time {
      color: #D0A543;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px; }
    .binhluan-deault .box-right p {
      line-height: 24px;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400; }
  .binhluan-deault .avatar-cmt {
    width: 20%; }
    .binhluan-deault .avatar-cmt img {
      height: 60px; }
    .binhluan-deault .avatar-cmt p {
      font-size: 13px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      margin-top: 10px;
      text-align: left;
      padding-right: 20px;
      color: #D0A543; }
  .binhluan-deault .social {
    display: flex;
    align-items: center; }
    .binhluan-deault .social .like {
      display: flex;
      align-items: center;
      margin-right: 20px; }
      .binhluan-deault .social .like::before {
        content: "\e8dc";
        font-size: 20px;
        font-family: 'Material Symbols Outlined';
        margin-right: 7px; }
      .binhluan-deault .social .like span {
        font-size: 16px; }
      .binhluan-deault .social .like p {
        font-size: 16px;
        margin-left: 7px;
        margin-bottom: 0; }
    .binhluan-deault .social .reply {
      display: flex;
      align-items: center; }
      .binhluan-deault .social .reply::before {
        content: "\f4f6";
        font-size: 20px;
        font-family: 'Material Symbols Outlined';
        margin-right: 7px; }
      .binhluan-deault .social .reply span {
        font-size: 16px; }
      .binhluan-deault .social .reply p {
        font-size: 16px;
        margin-left: 7px;
        margin-bottom: 0; }

.binhluan-moi {
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 24px; }
  .binhluan-moi .label {
    font-size: 16px;
    margin-bottom: 10px; }
  .binhluan-moi .btn-common-fill {
    min-width: inherit;
    border-radius: 8px;
    height: 50px; }
    .binhluan-moi .btn-common-fill::before {
      display: none; }
  .binhluan-moi .box-right {
    width: 80%; }
  .binhluan-moi .avatar-cmt {
    width: 20%; }
    .binhluan-moi .avatar-cmt img {
      height: 60px; }
    .binhluan-moi .avatar-cmt p {
      font-size: 14px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      margin-top: 10px;
      text-align: left;
      padding-right: 20px;
      color: #D0A543; }
  .binhluan-moi .thongtin-binhluan {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px; }
    .binhluan-moi .thongtin-binhluan .form-group {
      margin-bottom: 0;
      width: 25%; }
      .binhluan-moi .thongtin-binhluan .form-group input {
        height: 50px; }
        .binhluan-moi .thongtin-binhluan .form-group input::placeholder {
          font-size: 14px; }

.binhluan {
  border: 1px solid #DFDFDF;
  border-radius: 8px;
  padding: 24px; }
  .binhluan p {
    font-size: 28px;
    font-weight: 700;
    font-family: "Philosopher", sans-serif; }
    .binhluan p span {
      font-size: 28px;
      font-weight: 400;
      font-family: "Montserrat", sans-serif; }

.alert-noti {
  z-index: 123;
  top: 180px;
  position: fixed;
  right: 20px;
  width: fit-content;
  background: #D0A543;
  border-radius: 8px;
  padding: 15px 15px 15px 35px; }
  .alert-noti img {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); }
  .alert-noti span {
    font-size: 16px;
    color: white; }

.lagre-news .desc-news {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.list-tags .title-ss {
  text-align: left; }
.list-tags .lagre-news {
  max-width: 100%;
  border: 0;
  background: transparent;
  padding-left: 265px;
  min-height: 160px;
  display: inherit;
  margin-bottom: 40px; }
  .list-tags .lagre-news .title-news {
    margin: 0 0 6px 0; }
    .list-tags .lagre-news .title-news a {
      font-size: 20px;
      line-height: 27px; }
  .list-tags .lagre-news .thumnails-avatar {
    width: 240px; }
    .list-tags .lagre-news .thumnails-avatar a {
      padding-top: 65%; }

.menu-cate {
  margin-bottom: 16px; }
  .menu-cate ul {
    list-style: none;
    display: flex;
    align-items: center; }
    .menu-cate ul li {
      display: flex;
      align-items: center; }
      .menu-cate ul li a {
        color: #D0A543;
        font-size: 14px; }

.menu-cate li + li::before {
  content: "\e409";
  color: #707070;
  font-size: 20px;
  font-family: 'Material Symbols Outlined';
  margin: 0 10px; }

.desc-news {
  font-size: 14px; }

.bg-breadcrum {
  background: #EFEFEF;
  padding: 5px 0;
  margin-top: 0; }
  .bg-breadcrum .breadcrumb {
    justify-content: center; }

.page-customer {
  background: none;
  padding-bottom: 40px; }
  .page-customer .col-md-4 .box-items {
    margin: 0 0 30px 0; }
  .page-customer .readmore::after {
    content: "\e5db"; }

.shares {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center; }
  .shares img {
    margin: 0 5px;
    width: 20px !important;
    height: 20px; }

#show-full-images .row {
  align-items: center; }
#show-full-images .thumnails-avatar a {
  padding-top: 100%; }
#show-full-images .content {
  margin: 24px 0;
  text-align: left;
  padding-right: 40px; }
#show-full-images .title {
  text-align: left;
  border-bottom: 1px #DFDFDF solid;
  padding-bottom: 24px; }
  #show-full-images .title h4 {
    font-size: 20px;
    font-family: "Philosopher", sans-serif;
    text-transform: uppercase;
    font-weight: 700; }
  #show-full-images .title .service {
    font-size: 16px;
    margin-bottom: 0; }
#show-full-images .modal-body {
  padding: 40px 60px; }

.modal-show-full-img .owl-dots {
  display: none; }
.modal-show-full-img button {
  height: auto; }
.modal-show-full-img .modal-dialog {
  max-width: 1200px; }
.modal-show-full-img .owl-prev, .modal-show-full-img .owl-next {
  position: absolute;
  bottom: 50%; }
.modal-show-full-img .owl-next {
  right: 0; }
.modal-show-full-img .owl-prev {
  left: 0; }

.owl-theme .owl-nav [class*=owl-]:hover {
  opacity: 1; }

.owl-theme .owl-nav .disabled {
  opacity: 1 !important; }

.chuyengia .row {
  margin-right: -25px;
  margin-left: -25px; }
  .chuyengia .row .col-md-6 {
    margin-bottom: 50px;
    padding: 0 25px; }
.chuyengia .lagre-news {
  padding-left: 260px;
  min-height: 253px;
  max-width: 100%;
  border: 0;
  background: white;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.13); }
  .chuyengia .lagre-news .thumnails-avatar {
    width: 230px; }
    .chuyengia .lagre-news .thumnails-avatar a {
      padding-top: 110%; }
      .chuyengia .lagre-news .thumnails-avatar a img {
        border-radius: 8px 0 0 8px; }
  .chuyengia .lagre-news .title-news a {
    font-size: 20px;
    line-height: 24px;
    color: #464646;
    text-transform: capitalize; }
  .chuyengia .lagre-news .desc-news {
    -webkit-line-clamp: 3; }
  .chuyengia .lagre-news .date-time-news, .chuyengia .lagre-news .menu-cate {
    display: none; }
  .chuyengia .lagre-news .btn-common-line::before {
    display: none; }
  .chuyengia .lagre-news .btn-common-line:hover {
    color: white !important;
    background: #D0A543 !important; }

.banner-chuyengia {
  position: relative;
  clear: both;
  background-size: cover !important;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 447px;
  background: url(../images/bg-chuyengia.png) center top no-repeat; }
  .banner-chuyengia::after {
    height: 100%;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
    background: #313131;
    opacity: .8; }
  .banner-chuyengia .thumnails-avatar {
    float: left; }
    .banner-chuyengia .thumnails-avatar a {
      padding-top: 100%; }
  .banner-chuyengia .container {
    max-width: 80%; }
  .banner-chuyengia .row {
    align-items: center;
    z-index: 123;
    position: relative; }
  .banner-chuyengia .btn-common-fill::before {
    display: none; }
  .banner-chuyengia .content {
    color: white;
    position: relative;
    z-index: 123; }
    .banner-chuyengia .content h2 {
      font-size: 48px;
      font-family: "Philosopher", sans-serif;
      margin-bottom: 18px; }
    .banner-chuyengia .content p {
      font-size: 20px;
      margin-bottom: 40px; }

.chitiet-chuyengia {
  max-width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #DFDFDF; }
  .chitiet-chuyengia .btn-common-fill::before {
    display: none; }
  .chitiet-chuyengia .btn-bottomm {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .chitiet-chuyengia .share-social {
    display: flex;
    align-items: center; }
    .chitiet-chuyengia .share-social span {
      font-size: 16px;
      margin-right: 5px; }
    .chitiet-chuyengia .share-social img {
      margin: 0 5px; }
  .chitiet-chuyengia p {
    text-align: justify; }

.danhmuc-dichvu .item-news {
  margin-bottom: 50px; }
  .danhmuc-dichvu .item-news .title-cate-item {
    display: none; }
  .danhmuc-dichvu .item-news .title-news {
    min-height: 100%; }
    .danhmuc-dichvu .item-news .title-news a {
      text-transform: uppercase; }
  .danhmuc-dichvu .item-news .desc-news {
    -webkit-line-clamp: 5; }
  .danhmuc-dichvu .item-news .date-time-news {
    display: none; }

.chitiet-dichvu {
  padding-bottom: 0; }
  .chitiet-dichvu .noidung-chitietdichvu h1 {
    text-transform: uppercase;
    font-family: "Philosopher", sans-serif; }
  .chitiet-dichvu .container {
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 40px; }

.dichvukhac .title-ss {
  text-align: left;
  border-bottom: 3px solid #D0A543;
  padding-bottom: 15px;
  margin-bottom: 24px; }
  .dichvukhac .title-ss h1 {
    font-size: 20px; }
.dichvukhac .item-news {
  padding-left: 160px;
  min-height: 70px;
  position: relative;
  min-height: 100px;
  margin-bottom: 20px; }
  .dichvukhac .item-news .thumnails-avatar {
    width: 145px;
    position: absolute;
    left: 0;
    top: 0; }
    .dichvukhac .item-news .thumnails-avatar a {
      padding-top: 70%; }
  .dichvukhac .item-news .desc-news, .dichvukhac .item-news .title-cate-item, .dichvukhac .item-news .date-time-news {
    display: none; }
  .dichvukhac .item-news .title-news {
    -webkit-line-clamp: 3;
    min-height: inherit; }
    .dichvukhac .item-news .title-news a {
      font-size: 18px; }
  .dichvukhac .item-news .info-news {
    padding-top: 0; }

.sanpham-goiy .owl-prev, .sanpham-goiy .owl-next {
  bottom: 50%; }
.sanpham-goiy .item-news {
  padding: 0 25px;
  text-align: center; }
  .sanpham-goiy .item-news .title-cate-item {
    display: none; }
  .sanpham-goiy .item-news .title-news {
    min-height: inherit; }
    .sanpham-goiy .item-news .title-news a {
      text-transform: uppercase; }
  .sanpham-goiy .item-news .desc-news {
    -webkit-line-clamp: 3; }
  .sanpham-goiy .item-news .date-time-news {
    display: none; }
.sanpham-goiy h2 {
  text-align: left; }
.sanpham-goiy .line-title {
  display: none; }

#show-full-images-certificate .owl-nav {
  display: block;
  margin-top: 0; }
#show-full-images-certificate .modal-body {
  padding: 40px; }
  #show-full-images-certificate .modal-body img {
    margin: 0; }
#show-full-images-certificate .owl-dots {
  display: none; }
#show-full-images-certificate .owl-prev {
  bottom: 50%;
  position: absolute;
  left: 0; }
#show-full-images-certificate .owl-next {
  bottom: 50%;
  position: absolute;
  right: 0; }

.gioi-thieu .line-title {
  display: none; }
.gioi-thieu .tab-custom .nav-tabs .nav-link.active {
  color: white;
  border: 1px solid #D0A543 !important; }
.gioi-thieu .nav-link {
  margin: 0 5px;
  border: 1px solid #DFDFDF !important;
  border-radius: 50px !important;
  padding: 16px 24px !important; }
.gioi-thieu .nav-tabs {
  padding-bottom: 32px; }
.gioi-thieu .row {
  align-items: center; }
.gioi-thieu .tab-intro {
  list-style: none;
  display: flex;
  justify-content: center; }
  .gioi-thieu .tab-intro a {
    margin: 0 5px;
    color: #464646;
    border-radius: 50px;
    padding: 16px 24px;
    background: white;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #DFDFDF; }
    .gioi-thieu .tab-intro a:hover {
      background: #D0A543;
      border: 1px solid #D0A543;
      color: white;
      transition: all .3s ease-in-out; }

#lieuphap h2 {
  font-family: "Philosopher", sans-serif;
  text-align: left;
  font-size: 24px;
  margin-bottom: 16px; }
#lieuphap .line-title {
  background: #D0A543;
  width: 45px;
  height: 3px;
  margin: 0;
  margin-bottom: 16px; }

#lichsu {
  position: relative;
  clear: both;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 447px;
  background: url(../images/bg-lichsu.jpeg) center top no-repeat; }
  #lichsu .line-title {
    display: none; }
  #lichsu::after {
    height: 100%;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
    background: #313131;
    opacity: .8; }
  #lichsu .container {
    position: relative;
    z-index: 999; }
  #lichsu .title-ss h1 {
    color: white; }
  #lichsu .tab-content {
    margin: 0; }
  #lichsu .tab-custom .nav-tabs .nav-link.active {
    background: transparent;
    border-radius: 0;
    color: #D0A543;
    border-bottom: 3px solid #D0A543; }
  #lichsu .tab-custom {
    color: white; }
    #lichsu .tab-custom .nav-item {
      margin-bottom: 0; }
    #lichsu .tab-custom nav {
      border-bottom: 3px solid white; }
      #lichsu .tab-custom nav .nav-tabs {
        margin-bottom: -3px;
        justify-content: flex-start; }
        #lichsu .tab-custom nav .nav-tabs .nav-link {
          font-family: "Philosopher", sans-serif;
          color: white;
          border: inherit;
          padding: 10px 32px;
          font-size: 22px;
          font-weight: 700;
          background: transparent; }
  #lichsu .content-page-list {
    margin-top: 40px; }
    #lichsu .content-page-list h3 {
      margin-bottom: 20px;
      font-size: 32px;
      color: #D0A543;
      font-family: "Philosopher", sans-serif; }

.chungchi-quocte .chung-chi {
  margin: 15px; }
.chungchi-quocte .thumnails-avatar {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.08); }
  .chungchi-quocte .thumnails-avatar a {
    padding-top: 150%; }

.action-btn {
  display: none;
  bottom: 100px;
  position: fixed;
  right: 30px;
  z-index: 999; }

.action-btn {
  z-index: 12 !important; }

.coccoc-alo-ph-circle {
  width: 70px;
  height: 70px;
  top: 60px;
  left: 60px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #D0A543;
  opacity: .1;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.coccoc-alo-phone {
  background-color: transparent;
  width: 90px;
  height: 90px;
  margin-right: 30px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  right: 150px;
  top: 30px; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: #D0A543;
  opacity: .6 !important; }

.coccoc-alo-ph-circle-fill {
  width: 70px;
  height: 70px;
  top: 60px;
  left: 60px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.img-phone .coccoc-alo-ph-img-circle {
  background: #D0A543 url(../images/calendar_month.svg) no-repeat center center; }

.coccoc-alo-ph-img-circle {
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  top: 70px;
  left: 70px;
  position: absolute;
  background: #D0A543 url(../images/tuvan-mb.svg) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #D0A543; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #D0A543;
  opacity: .5; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #D0A543;
  opacity: .5; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: #D0A543;
  opacity: .75 !important; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #D0A543; }

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }

/*# sourceMappingURL=style.css.map */
